.u-article--rfc h2 {
    margin-top: var(--space-2xl);
}
.u-article--rfc #section-1 h2 {
    margin-top: 0;
}
.u-article--rfc h3 {
    margin-top: var(--space-xl);
    line-height: var(--leading);
}
.u-article--rfc h4 {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-s);
}

.u-article--rfc a {
    color: inherit;
    hyphens: auto;
    overflow-wrap: anywhere;
}
.u-article--rfc :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
    color: var(--theme-accent);
}

.u-article--rfc ol > li {
    margin-left: 18px;
    list-style: numeric;
}
.u-article--rfc ul + ul {
    margin-top: var(--space-l);
}
.u-article--rfc li > p {
    margin-top: var(--space-s);
}

.u-article--rfc :not(pre) code {
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

/* --- Pilcrow --- */

.u-article--rfc .pilcrow {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    color: transparent;
}
.u-article--rfc .pilcrow::before {
    content: '\00B6';
    display: none;
    position: absolute;
    transform: translate3d(0, -2px, 0);
    padding-right: 4px;
    padding-left: 4px;
    color: var(--theme-ink);
}
.u-article--rfc :is(p, li, dd, .artwork):hover > .pilcrow::before {
    display: inline-block;
}
.u-article--rfc .pilcrow:hover::before {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* --- Definition lists --- */

.u-article--rfc .document-information dl {
    display: grid;
    gap: var(--space-m) var(--space-s);
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
}
.u-article--rfc .document-information dt {
    grid-column: 1;
}
.u-article--rfc .document-information dd {
    grid-column: 2;
}

.u-article--rfc dl.dlNewline {
    margin-top: var(--space-s);
    margin-bottom: var(--space-xl);
}
.u-article--rfc dl.dlNewline dt + dd {
    margin-top: 8px;
}
.u-article--rfc dl.dlNewline dd + dt {
    margin-top: 12px;
}
.u-article--rfc dl.dlNewline dd.break + dt {
    margin-top: var(--space-m);
}
.u-article--rfc dl.dlCompact.dlParallel {
    display: grid;
    gap: 4px 12px;
    grid-template-columns: auto 1fr;
}
.u-article--rfc dl.dlCompact.dlParallel dt {
    grid-column: 1;
}
.u-article--rfc dl.dlCompact.dlParallel dd {
    grid-column: 2;
}

.u-article--rfc dl.references {
    display: grid;
    margin-top: var(--space-m);
    hyphens: auto;
}
.u-article--rfc .references dt {
    font-weight: var(--font-semibold);
}

@media (width > 1000px) {
    .u-article--rfc dl.references {
        gap: 24px 16px;
        grid-template-columns: 12ch 1fr;
    }
}

@media (width <= 1000px) {
    .u-article--rfc .references dt {
        margin-top: var(--space-l);
        font-weight: var(--font-semibold);
    }
    .u-article--rfc .references dd {
        margin-top: 4px;
    }
}

/* --- vcard --- */

.u-article--rfc h2 + .vcard {
    margin-top: var(--space-l);
}
.u-article--rfc .vcard + .vcard {
    margin-top: var(--space-xl);
}
.u-article--rfc .vcard > :first-child {
    margin-bottom: 4px;
    font-weight: var(--font-semibold);
}
.u-article--rfc .vcard .email {
    margin-top: 12px;
}

/* --- Figures --- */

.u-article--rfc figure {
    margin-top: var(--space-m);
    margin-bottom: var(--space-xl);
}

.u-article--rfc figure .art-svg {
    margin-bottom: var(--space-m);
    border: 1px solid var(--theme-border);
    padding: var(--space-m);
    background: var(--theme-diagram-bg);
    border-radius: var(--radius-xl);
    overflow-x: auto;
}
.u-article--rfc .art-svg svg :not(text):not(.text) {
    stroke: currentColor;
}
.u-article--rfc .art-svg svg text {
    fill: currentColor;
}
