/* BANNER */
#banner {
	background: #3aafa9;
	color: #17242a;
}
#banner .container {
	display: flex;
	flex-flow: row wrap;
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	align-items: center;
	text-align: left;
}
#banner .deco {
	flex-basis: 60%;
	padding-left: 5%;
}
#banner .deco img {
	width: 100%;
}
#banner .text {
	flex-basis: 35%;
}
#banner h1 {
	margin-top: 0;
	border: 0;
	color: currentColor;
	font-size: 40px;
	text-align: left;
}
#banner p, 
#banner .cta {
	font-size: 20px;
}
#banner .cta {
	margin-top: 30px;
	background: #fdce4b;
	border-color: #fdce4b;
}
#banner .cta:focus,
#banner .cta:hover {
	background: #17242a;
	border-color: #17242a;
	color: #fff;
}

@media (max-width: 768px) {
	#banner .container {
		flex-flow: column nowrap;
		padding: 40px 20px 60px 20px;
	}
	#banner .deco {
		padding-left: 0;
		margin-top: 25px;
	}
	#banner h1 {
		font-size: 30px;
		padding-bottom: 0;
	}
	#banner .cta {
		margin-top: 15px;
	}
}