@import "header-footer.css";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
html {
    background: #fff;
    color: #1f1f1f;
    font: 16px/1.55 "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
th {
    padding: 5px 10px;
}

a {
    color: #0069d6;
    text-decoration: underline;
    outline: none;
}
a:focus,
a:hover {
    color: #0050a3;
    outline: 0; /* For accessibility, diplay the visual outline when users use TAB key */
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
ul {
    padding-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0;
    line-height: 1.2;
    color: #404040;
}
h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 42px;
    text-align: center;
}
h2 {
    margin-top: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 16px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
li {
    margin: 5px 0;
}
blockquote {
    margin-bottom: 18px;
    padding: 13px 13px 21px 15px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    margin-left:-10px;
    color:#eee;
    font-family:georgia,serif;
    font-size:40px;
}
blockquote p {
    margin-bottom: 0;
    line-height: 18px;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}
code, pre {
    font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    margin: 0 0 18px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 14px;
    line-height: 16px;
    background: #f8f8f8;
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: transparent;
    color:#737373;
    font-size: 13px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
  -webkit-print-color-adjust: exact;
}

.toc,
article {
    counter-reset: section;
}
.toc-h2,
h2 {
    counter-increment: section;
    counter-reset: subsection;
}
.toc-h2 > .toc-link:before,
h2:before {
    content: counter(section) ". ";
}
.toc-h3,
h3 {
    counter-increment: subsection;
    counter-reset: subsubsection;
}
.toc-h3 > .toc-link:before,
h3:before {
    content: counter(section) "." counter(subsection) ". ";
}
h4 {
    counter-increment: subsubsection;
    counter-reset: subsubsubsection;
}
h4:before {
    content: counter(section) "."
        counter(subsection) "." counter(subsubsection) ". ";
}
.cta {
    display: inline-block;
    border: 1px solid #17242a;
    border-radius: 4px;
    padding: 8px 60px;
    text-decoration: none;
    color: #17242a;
    margin-top: 20px;
}
.cta:focus,
.cta:hover {
    background: #17242a;
    border-color: #17242a; 
    color: #fff;
}
.mobile {
    display: none;
}
.desktop {
    display: none;
}
.intro {
    font-size: 25px;
    font-weight: bold;
}

@media screen {
    /* Content */
    article {
        margin: 75px auto 30px;
        max-width: 700px;
        padding: 0 30px 65px 260px;
    }
    #last-update {
        margin: -7px 0 15px;
        font-size: 14px;
        text-align: center;
    }
    /* Sidebar (Table of Contents) */
    aside {
        position: fixed;
        overflow: auto;
        top: 50px;
        bottom: 0;
        width: 229px;
        border-right: 1px solid #eee;
        background: #f8f8f8;
    }
    .toc {
        position: relative;
        margin: 0;
        padding: 15px 0 60px 0;
        list-style: none;
        font-size: 14px;
    }
    .toc-selected {
        position: absolute;
        background: #e5eaed;
        -webkit-transition: all .2s;
           -moz-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;
        left: 0;
        right: 0;
        top: 0;
        height: 0;
    }
    .toc-item {
        margin: 0;
        padding: 0;
    }
    .toc-link {
        display: block;
        padding: 4px 15px;
        color: inherit;
        text-decoration: none;
    }
    .toc-link:hover {
        color: inherit;
    }
    .toc-link:hover > span {
        border-bottom: 1px solid;
    }
    .toc-h2 {
        font-weight: bold;
    }
    .toc-h3 {
        padding-left: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .desktop {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    article {
        margin: 30px;
        padding: 0;
    }
    aside {
        position: relative;
        top: 0;
        width: 100%;
        border-top: 1px solid #eee;
        border-right: none;
    }
}

@media screen and (max-width: 480px) {
    .mobile {
        display: block;
    }
    .cta {
        display: block;
        text-align: center;
        padding: 8px 20px;
    }
}
@media print {
    header,
    aside {
        display: none;
    }
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}