<ul class="compact toc ulBare ulEmpty u-toc">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1">
            <p id="section-toc.1-1.1.1"><a href="#section-1">1&nbsp;&nbsp;Introduction</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.1">
                <p id="section-toc.1-1.1.2.1.1" class="keepWithNext"><a href="#section-1.1">1.1&nbsp;&nbsp;Relation to iCalendar and jCal</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.2">
                <p id="section-toc.1-1.1.2.2.1" class="keepWithNext"><a href="#section-1.2">1.2&nbsp;&nbsp;Relation to obsolete RFC 8984</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.3">
                <p id="section-toc.1-1.1.2.3.1" class="keepWithNext"><a href="#section-1.3">1.3&nbsp;&nbsp;Notational Conventions</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.4">
                <p id="section-toc.1-1.1.2.4.1"><a href="#section-1.4">1.4&nbsp;&nbsp;Data Type Notations</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.5">
                <p id="section-toc.1-1.1.2.5.1"><a href="#section-1.5">1.5&nbsp;&nbsp;Common Data Types</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.6">
                <p id="section-toc.1-1.1.2.6.1"><a href="#section-1.6">1.6&nbsp;&nbsp;Internationalization</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.7">
                <p id="section-toc.1-1.1.2.7.1"><a href="#section-1.7">1.7&nbsp;&nbsp;Validating JSCalendar</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.8">
                <p id="section-toc.1-1.1.2.8.1"><a href="#section-1.8">1.8&nbsp;&nbsp;Vendor-Specific Extensions</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.9">
                <p id="section-toc.1-1.1.2.9.1"><a href="#section-1.9">1.9&nbsp;&nbsp;Versioning</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2">
            <p id="section-toc.1-1.2.1"><a href="#section-2">2&nbsp;&nbsp;JSCalendar Objects</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.1">
                <p id="section-toc.1-1.2.2.1.1"><a href="#section-2.1">2.1&nbsp;&nbsp;Event</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.2">
                <p id="section-toc.1-1.2.2.2.1"><a href="#section-2.2">2.2&nbsp;&nbsp;Task</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.3">
                <p id="section-toc.1-1.2.2.3.1"><a href="#section-2.3">2.3&nbsp;&nbsp;Group</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3">
            <p id="section-toc.1-1.3.1"><a href="#section-3">3&nbsp;&nbsp;Common Properties</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.1">
                <p id="section-toc.1-1.3.2.1.1"><a href="#section-3.1">3.1&nbsp;&nbsp;Metadata Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.2">
                <p id="section-toc.1-1.3.2.2.1"><a href="#section-3.2">3.2&nbsp;&nbsp;What and Where Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.3">
                <p id="section-toc.1-1.3.2.3.1"><a href="#section-3.3">3.3&nbsp;&nbsp;Recurrence Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.4">
                <p id="section-toc.1-1.3.2.4.1"><a href="#section-3.4">3.4&nbsp;&nbsp;Sharing and Scheduling Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.5">
                <p id="section-toc.1-1.3.2.5.1"><a href="#section-3.5">3.5&nbsp;&nbsp;Alerts Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.6">
                <p id="section-toc.1-1.3.2.6.1"><a href="#section-3.6">3.6&nbsp;&nbsp;Time Zone Properties</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4">
            <p id="section-toc.1-1.4.1"><a href="#section-4">4&nbsp;&nbsp;Type-Specific JSCalendar Properties</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4.2.1">
                <p id="section-toc.1-1.4.2.1.1"><a href="#section-4.1">4.1&nbsp;&nbsp;Event Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4.2.2">
                <p id="section-toc.1-1.4.2.2.1"><a href="#section-4.2">4.2&nbsp;&nbsp;Task Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4.2.3">
                <p id="section-toc.1-1.4.2.3.1"><a href="#section-4.3">4.3&nbsp;&nbsp;Group Properties</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5">
            <p id="section-toc.1-1.5.1"><a href="#section-5">5&nbsp;&nbsp;Examples</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.1">
                <p id="section-toc.1-1.5.2.1.1"><a href="#section-5.1">5.1&nbsp;&nbsp;Simple Event</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.2">
                <p id="section-toc.1-1.5.2.2.1"><a href="#section-5.2">5.2&nbsp;&nbsp;Simple Task</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.3">
                <p id="section-toc.1-1.5.2.3.1"><a href="#section-5.3">5.3&nbsp;&nbsp;Simple Group</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.4">
                <p id="section-toc.1-1.5.2.4.1"><a href="#section-5.4">5.4&nbsp;&nbsp;All-Day Event</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.5">
                <p id="section-toc.1-1.5.2.5.1"><a href="#section-5.5">5.5&nbsp;&nbsp;Task with a Due Date</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.6">
                <p id="section-toc.1-1.5.2.6.1"><a href="#section-5.6">5.6&nbsp;&nbsp;Event with End Time Zone</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.7">
                <p id="section-toc.1-1.5.2.7.1"><a href="#section-5.7">5.7&nbsp;&nbsp;Floating-Time Event (with Recurrence)</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.8">
                <p id="section-toc.1-1.5.2.8.1"><a href="#section-5.8">5.8&nbsp;&nbsp;Event with Physical and Virtual Location</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.9">
                <p id="section-toc.1-1.5.2.9.1"><a href="#section-5.9">5.9&nbsp;&nbsp;Recurring Event with Overrides</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.10">
                <p id="section-toc.1-1.5.2.10.1"><a href="#section-5.10">5.10&nbsp;&nbsp;Making a "This and Future" Change</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.11">
                <p id="section-toc.1-1.5.2.11.1"><a href="#section-5.11">5.11&nbsp;&nbsp;Recurring Event with Participants</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6">
            <p id="section-toc.1-1.6.1"><a href="#section-6">6&nbsp;&nbsp;Security Considerations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.1">
                <p id="section-toc.1-1.6.2.1.1"><a href="#section-6.1">6.1&nbsp;&nbsp;Expanding Recurrences</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.2">
                <p id="section-toc.1-1.6.2.2.1"><a href="#section-6.2">6.2&nbsp;&nbsp;JSON Parsing</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.3">
                <p id="section-toc.1-1.6.2.3.1"><a href="#section-6.3">6.3&nbsp;&nbsp;URI Values</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.4">
                <p id="section-toc.1-1.6.2.4.1"><a href="#section-6.4">6.4&nbsp;&nbsp;Spam</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.5">
                <p id="section-toc.1-1.6.2.5.1"><a href="#section-6.5">6.5&nbsp;&nbsp;Duplication</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.6.2.6">
                <p id="section-toc.1-1.6.2.6.1"><a href="#section-6.6">6.6&nbsp;&nbsp;Time Zones</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7">
            <p id="section-toc.1-1.7.1"><a href="#section-7">7&nbsp;&nbsp;IANA Considerations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.1">
                <p id="section-toc.1-1.7.2.1.1"><a href="#section-7.1">7.1&nbsp;&nbsp;Media Type Registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.2">
                <p id="section-toc.1-1.7.2.2.1"><a href="#section-7.2">7.2&nbsp;&nbsp;Registry Policy and Change Procedures</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.3">
                <p id="section-toc.1-1.7.2.3.1"><a href="#section-7.3">7.3&nbsp;&nbsp;"JSCalendar Version" Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.4">
                <p id="section-toc.1-1.7.2.4.1"><a href="#section-7.4">7.4&nbsp;&nbsp;"JSCalendar Properties" Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.5">
                <p id="section-toc.1-1.7.2.5.1"><a href="#section-7.5">7.5&nbsp;&nbsp;"JSCalendar Types" Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.7.2.6">
                <p id="section-toc.1-1.7.2.6.1"><a href="#section-7.6">7.6&nbsp;&nbsp;"JSCalendar Enum Values" Registry</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.8">
            <p id="section-toc.1-1.8.1"><a href="#section-8">8&nbsp;&nbsp;References</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.8.2.1">
                <p id="section-toc.1-1.8.2.1.1"><a href="#section-8.1">8.1&nbsp;&nbsp;Normative References</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.8.2.2">
                <p id="section-toc.1-1.8.2.2.1"><a href="#section-8.2">8.2&nbsp;&nbsp;Informative References</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.9">
            <p id="section-toc.1-1.9.1"><a href="#appendix-A">Appendix A&nbsp;&nbsp;Differences from RFC 8984</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.9.2.1">
                <p id="section-toc.1-1.9.2.1.1"><a href="#appendix-A.1">A.1&nbsp;&nbsp;Applied Errata</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.9.2.2">
                <p id="section-toc.1-1.9.2.2.1"><a href="#appendix-A.2">A.2&nbsp;&nbsp;Changed Property Definitions</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.9.2.3">
                <p id="section-toc.1-1.9.2.3.1"><a href="#appendix-A.3">A.3&nbsp;&nbsp;Changed Type Definitions</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.10">
            <p id="section-toc.1-1.10.1"><a href="#appendix-B">Acknowledgments</a></p>
</li>
          
        <li><p><a href="#status-of-memo">Status of This Memo</a></p></li><li><p><a href="#copyright">Copyright</a></p></li></ul>
