<ul class="compact toc ulBare ulEmpty u-toc">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1">
            <p id="section-toc.1-1.1.1" class="keepWithNext"><a href="#section-1">1&nbsp;&nbsp;IANA Considerations</a></p>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2">
            <p id="section-toc.1-1.2.1"><a href="#section-2">2&nbsp;&nbsp;IMAP/JMAP Keyword Registrations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.1">
                <p id="section-toc.1-1.2.2.1.1" class="keepWithNext"><a href="#section-2.1">2.1&nbsp;&nbsp;$notify keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.2">
                <p id="section-toc.1-1.2.2.2.1" class="keepWithNext"><a href="#section-2.2">2.2&nbsp;&nbsp;$muted keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.3">
                <p id="section-toc.1-1.2.2.3.1"><a href="#section-2.3">2.3&nbsp;&nbsp;$followed keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.4">
                <p id="section-toc.1-1.2.2.4.1"><a href="#section-2.4">2.4&nbsp;&nbsp;$memo keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.5">
                <p id="section-toc.1-1.2.2.5.1"><a href="#section-2.5">2.5&nbsp;&nbsp;$hasmemo keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.6">
                <p id="section-toc.1-1.2.2.6.1"><a href="#section-2.6">2.6&nbsp;&nbsp;$hasattachment keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.7">
                <p id="section-toc.1-1.2.2.7.1"><a href="#section-2.7">2.7&nbsp;&nbsp;$autosent keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.8">
                <p id="section-toc.1-1.2.2.8.1"><a href="#section-2.8">2.8&nbsp;&nbsp;$unsubscribed keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.9">
                <p id="section-toc.1-1.2.2.9.1"><a href="#section-2.9">2.9&nbsp;&nbsp;$canunsubscribe keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.10">
                <p id="section-toc.1-1.2.2.10.1"><a href="#section-2.10">2.10&nbsp;&nbsp;$imported keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.11">
                <p id="section-toc.1-1.2.2.11.1"><a href="#section-2.11">2.11&nbsp;&nbsp;$istrusted keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.12">
                <p id="section-toc.1-1.2.2.12.1"><a href="#section-2.12">2.12&nbsp;&nbsp;$maskedemail keyword registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.13">
                <p id="section-toc.1-1.2.2.13.1"><a href="#section-2.13">2.13&nbsp;&nbsp;$new keyword registration</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3">
            <p id="section-toc.1-1.3.1"><a href="#section-3">3&nbsp;&nbsp;IMAP Mailbox Name Attributes Registrations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.1">
                <p id="section-toc.1-1.3.2.1.1"><a href="#section-3.1">3.1&nbsp;&nbsp;Snoozed mailbox name attribute registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.2">
                <p id="section-toc.1-1.3.2.2.1"><a href="#section-3.2">3.2&nbsp;&nbsp;Scheduled mailbox name attribute registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.3">
                <p id="section-toc.1-1.3.2.3.1"><a href="#section-3.3">3.3&nbsp;&nbsp;Memos mailbox name attribute registration</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4">
            <p id="section-toc.1-1.4.1"><a href="#section-4">4&nbsp;&nbsp;Normative References</a></p>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5">
            <p id="section-toc.1-1.5.1"></p>
</li>
        <li><p><a href="#status-of-memo">Status of This Memo</a></p></li><li><p><a href="#copyright">Copyright</a></p></li></ul>
