<ul class="compact toc ulBare ulEmpty u-toc">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1">
            <p id="section-toc.1-1.1.1"><a href="#section-1">1&nbsp;&nbsp;Introduction</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.1">
                <p id="section-toc.1-1.1.2.1.1" class="keepWithNext"><a href="#section-1.1">1.1&nbsp;&nbsp;Motivation and Relation to vCard, jCard, and xCard</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.2">
                <p id="section-toc.1-1.1.2.2.1" class="keepWithNext"><a href="#section-1.2">1.2&nbsp;&nbsp;Notational Conventions</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.3">
                <p id="section-toc.1-1.1.2.3.1"><a href="#section-1.3">1.3&nbsp;&nbsp;Data Type Notations</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.4">
                <p id="section-toc.1-1.1.2.4.1"><a href="#section-1.4">1.4&nbsp;&nbsp;Common Data Types</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.5">
                <p id="section-toc.1-1.1.2.5.1"><a href="#section-1.5">1.5&nbsp;&nbsp;Common Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.6">
                <p id="section-toc.1-1.1.2.6.1"><a href="#section-1.6">1.6&nbsp;&nbsp;Internationalization</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.7">
                <p id="section-toc.1-1.1.2.7.1"><a href="#section-1.7">1.7&nbsp;&nbsp;Validating JSContact</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.8">
                <p id="section-toc.1-1.1.2.8.1"><a href="#section-1.8">1.8&nbsp;&nbsp;Vendor-Specific Extensions</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.1.2.9">
                <p id="section-toc.1-1.1.2.9.1"><a href="#section-1.9">1.9&nbsp;&nbsp;Versioning</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2">
            <p id="section-toc.1-1.2.1"><a href="#section-2">2&nbsp;&nbsp;Card</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.1">
                <p id="section-toc.1-1.2.2.1.1"><a href="#section-2.1">2.1&nbsp;&nbsp;Metadata Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.2">
                <p id="section-toc.1-1.2.2.2.1"><a href="#section-2.2">2.2&nbsp;&nbsp;Name and Organization Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.3">
                <p id="section-toc.1-1.2.2.3.1"><a href="#section-2.3">2.3&nbsp;&nbsp;Contact Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.4">
                <p id="section-toc.1-1.2.2.4.1"><a href="#section-2.4">2.4&nbsp;&nbsp;Calendaring and Scheduling Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.5">
                <p id="section-toc.1-1.2.2.5.1"><a href="#section-2.5">2.5&nbsp;&nbsp;Address and Location Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.6">
                <p id="section-toc.1-1.2.2.6.1"><a href="#section-2.6">2.6&nbsp;&nbsp;Resource Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.7">
                <p id="section-toc.1-1.2.2.7.1"><a href="#section-2.7">2.7&nbsp;&nbsp;Multilingual Properties</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.2.2.8">
                <p id="section-toc.1-1.2.2.8.1"><a href="#section-2.8">2.8&nbsp;&nbsp;Additional Properties</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3">
            <p id="section-toc.1-1.3.1"><a href="#section-3">3&nbsp;&nbsp;IANA Considerations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.1">
                <p id="section-toc.1-1.3.2.1.1"><a href="#section-3.1">3.1&nbsp;&nbsp;Media Type Registration</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.2">
                <p id="section-toc.1-1.3.2.2.1"><a href="#section-3.2">3.2&nbsp;&nbsp;Creation of the JSContact Registry Group</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.3">
                <p id="section-toc.1-1.3.2.3.1"><a href="#section-3.3">3.3&nbsp;&nbsp;Registry Policy and Change Procedures</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.4">
                <p id="section-toc.1-1.3.2.4.1"><a href="#section-3.4">3.4&nbsp;&nbsp;Creation of the JSContact Version Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.5">
                <p id="section-toc.1-1.3.2.5.1"><a href="#section-3.5">3.5&nbsp;&nbsp;Creation of the JSContact Properties Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.6">
                <p id="section-toc.1-1.3.2.6.1"><a href="#section-3.6">3.6&nbsp;&nbsp;Creation of the JSContact Types Registry</a></p>

</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.3.2.7">
                <p id="section-toc.1-1.3.2.7.1"><a href="#section-3.7">3.7&nbsp;&nbsp;Creation of the JSContact Enum Values Registry</a></p>

</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4">
            <p id="section-toc.1-1.4.1"><a href="#section-4">4&nbsp;&nbsp;Security Considerations</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4.2.1">
                <p id="section-toc.1-1.4.2.1.1"><a href="#section-4.1">4.1&nbsp;&nbsp;JSON Parsing</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.4.2.2">
                <p id="section-toc.1-1.4.2.2.1"><a href="#section-4.2">4.2&nbsp;&nbsp;URI Values</a></p>
</li>
            </ul>
</li>
          <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5">
            <p id="section-toc.1-1.5.1"><a href="#section-5">5&nbsp;&nbsp;References</a></p>
<ul class="compact toc ulBare ulEmpty">
<li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.1">
                <p id="section-toc.1-1.5.2.1.1"><a href="#section-5.1">5.1&nbsp;&nbsp;Normative References</a></p>
</li>
              <li class="compact toc ulBare ulEmpty" id="section-toc.1-1.5.2.2">
                <p id="section-toc.1-1.5.2.2.1"><a href="#section-5.2">5.2&nbsp;&nbsp;Informative References</a></p>
</li>
            </ul>
</li>
          
        <li><p><a href="#status-of-memo">Status of This Memo</a></p></li><li><p><a href="#copyright">Copyright</a></p></li></ul>
