<nav class='header'>
    <div class='header__inner u-wrapper'>
        <div class='header__logo'>
            <a href='{{ site.baseurl }}/' class='jmap-logo'>
                <div class='jmap-logo__mark'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                JMAP
            </a>
        </div>
        <ul class='header__links'>
            <li>
                <a href='{{ site.baseurl }}/why-jmap/' data-page='why'>Why JMAP?</a>
            </li>
            <li>
                <a href='{{ site.baseurl }}/spec/' data-page='specs'>Specifications</a>
            </li>
            <li>
                <a href='{{ site.baseurl }}/software/' data-page='software'>Software</a>
            </li>
        </ul>
        <div class='header__theme'>
            <button
                class='header__theme-button'
                id='theme-toggle'
                aria-label='Toggle theme'
            >
                {% include icons/theme-light.liquid %}
                {% include icons/theme-dark.liquid %}
            </button>
        </div>
    </div>
</nav>
