<nav class='header'>
    <div class='header__inner u-wrapper'>
        <div class='header__logo'>
            <a href='{{ site.baseurl }}/' class='jmap-logo'>
                <div class='jmap-logo__mark'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                JMAP
            </a>
        </div>
        <ul class='header__links'>
            {%- for item in site.data.nav -%}
                <li>
                    <a
                        href='{{ item.href | relative_url }}'
                        {%- assign item_as_page_url = item.href | append: 'index.html' -%}
                        {%- if page.url == item_as_page_url -%}
                            class='active'
                        {%- endif -%}
                    >
                        {{- item.label -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        <div class='header__theme'>
            <button
                class='header__theme-button'
                id='theme-toggle'
                aria-label='Toggle theme'
            >
                {% include icons/theme-light.liquid %}
                {% include icons/theme-dark.liquid %}
            </button>
        </div>
    </div>
</nav>
