<nav class='header'>
    <div class='header__inner u-wrapper'>
        <div class='header__logo'>
            {% include components/jmap-logo.liquid %}
        </div>
        <ul class='header__links'>
            {%- for item in site.data.nav -%}
                <li>
                    <a
                        href='{{ item.href | relative_url }}'
                        {%- assign item_as_page_url = item.href | append: 'index.html' -%}
                        {%- if page.url == item_as_page_url -%}
                            class='active'
                        {%- endif -%}
                    >
                        {{- item.label -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        <div class='header__theme'>
            <button
                class='header__theme-button'
                id='theme-toggle'
                aria-label='Toggle theme'
            >
                <svg class='i-theme' viewBox='0 0 24 24' aria-hidden='true'>
                    <defs>
                      <mask id="moon-mask-01" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <rect width="24" height="24" fill="white"/>
                        <circle class="cutout" cx="12" cy="12" r="5" fill="black"/>
                      </mask>
                    </defs>
                    <g class="rays">
                      <line x1="12" y1="1.5" x2="12" y2="4.5"/>
                      <line x1="12" y1="19.5" x2="12" y2="22.5"/>
                      <line x1="1.5" y1="12" x2="4.5" y2="12"/>
                      <line x1="19.5" y1="12" x2="22.5" y2="12"/>
                      <line x1="4.4" y1="4.4" x2="6.5" y2="6.5"/>
                      <line x1="17.5" y1="17.5" x2="19.6" y2="19.6"/>
                      <line x1="4.4" y1="19.6" x2="6.5" y2="17.5"/>
                      <line x1="17.5" y1="6.5" x2="19.6" y2="4.4"/>
                    </g>
                    <circle class="body-circle" cx="12" cy="12" r="5" mask="url(#moon-mask-01)"/>
                </svg>
            </button>
        </div>
    </div>
</nav>
