<nav class='header'>
    <div class='header__inner u-wrapper'>
        <div class='header__left'>
            <a href='{{ site.baseurl }}/' class='jmap-logo'>
                <div class='jmap-logo__mark'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                JMAP
            </a>
            <ul class='header__links'>
                <li>
                    <a href='{{ site.baseurl }}/why-jmap/' data-page='why'>Why JMAP? </a>
                </li>
                <li>
                    <a href='{{ site.baseurl }}/specs/' data-page='specs'>Specifications and Guides </a>
                </li>
                <li>
                    <a href='{{ site.baseurl }}/software/' data-page='software'>Software and Libraries </a>
                </li>
            </ul>
        </div>
        <div class='header__right'>
            <button
                class='header__theme-button'
                id='theme-toggle'
                aria-label='Toggle theme'
            >
                {% include icons/theme-light.liquid %}
                {% include icons/theme-dark.liquid %}
            </button>
        </div>
    </div>
</nav>
