---
layout: article-rfc
permalink: /spec/keywords/index.html
toc: generated-rfc-toc/keywords.html
title: Registration of further IMAP/JMAP keywords and mailbox names
description: >-
    Fastmail uses a number of keywords and mailbox names to implement mail functionality that others may wish to interoperate with. This document notes what they are and how to use them, and registers them with IANA to avoid name collisions.
meta:
    authors:
        - Neil Jenkins
    keywords:
        - IMAP
        - JMAP
---
<div id="iana-considerations">
<section id="section-1">
      <h2 id="name-iana-considerations"><a href="#section-1">1.&nbsp;&nbsp;IANA Considerations</a></h2>
<p id="section-1-1">This document is all IANA considerations! A number of IMAP/JMAP keywords are registered in the IMAP/JMAP Keywords registry, as established in RFC5788.
It also registers three new entries for the Mailbox Name Attributes registry, as established in RFC8457, Section 6.<a href="#section-1-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="imap-jmap-keyword-registrations">
<section id="section-2">
      <h2 id="name-imap-jmap-keyword-registrat"><a href="#section-2">2.&nbsp;&nbsp;IMAP/JMAP Keyword Registrations</a></h2>
<div id="notify-keyword-registration">
<section id="section-2.1">
        <h3 id="name-notify-keyword-registration"><a href="#section-2.1">2.1.&nbsp;&nbsp;$notify keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.1-1">
          <dt id="section-2.1-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.1-1.2">
            <code>$notify</code><a href="#section-2.1-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.3">Purpose:</dt>
          <dd id="section-2.1-1.4"> Indicate to the client that a notification should be shown for this message.<a href="#section-2.1-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.1-1.6"> SHARED<a href="#section-2.1-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.1-1.8">
            <p id="section-2.1-1.8.1">This keyword can cause automatic action. On supporting clients, when a new message is added to the mailstore with this keyword, the client should show the user a notification.<a href="#section-2.1-1.8.1" class="pilcrow">¶</a></p>
<p id="section-2.1-1.8.2">Mail clients commonly show notifications for new mail, but often the only option is to show a notification for every message that arrvies in the inbox. This keyword allows the user to create rules (or the server to automatically determine) specific messages that should show a notification.<a href="#section-2.1-1.8.2" class="pilcrow">¶</a></p>
<p id="section-2.1-1.8.3">Notifications for these messages may be in addition to notifications for messages matching other criteria, according to user preference set on the client.<a href="#section-2.1-1.8.3" class="pilcrow">¶</a></p>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.1-1.10"> This keyword is set by an IMAP or JMAP server on delivery when a message meets criteria such that the user should be shown a notification. It may be cleared by a client when the user opens, archives, or otherwise interacts with th message. Other clients connected to the same account may choose to automatically close the notification if the flag is cleared.<a href="#section-2.1-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.11">Related keywords:</dt>
          <dd id="section-2.1-1.12"> None<a href="#section-2.1-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.1-1.14"> None<a href="#section-2.1-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.15">Security considerations:</dt>
          <dd id="section-2.1-1.16"> None<a href="#section-2.1-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.17">Published specification:</dt>
          <dd id="section-2.1-1.18"> This document<a href="#section-2.1-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.19">Intended usage:</dt>
          <dd id="section-2.1-1.20"> COMMON<a href="#section-2.1-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.21">Scope:</dt>
          <dd id="section-2.1-1.22">BOTH<a href="#section-2.1-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.1-1.23">Owner/Change controller:</dt>
          <dd id="section-2.1-1.24"> IESG<a href="#section-2.1-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="muted-keyword-registration">
<section id="section-2.2">
        <h3 id="name-muted-keyword-registration"><a href="#section-2.2">2.2.&nbsp;&nbsp;$muted keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.2-1">
          <dt id="section-2.2-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.2-1.2">
            <code>$muted</code><a href="#section-2.2-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.3">Purpose:</dt>
          <dd id="section-2.2-1.4"> Indicate to the server that the user is not interested in future replies to a particular thread.<a href="#section-2.2-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.2-1.6"> SHARED<a href="#section-2.2-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.2-1.8">
            <p id="section-2.2-1.8.1"> This keyword can cause automatic action. On supporting servers, when a new message arrives that is in the same thread as a message with this keyword the server may automatically process it in some way to deprioritise it for the user, for example by moving it to the archive or trash, or marking it read. The exact action, whether this is customisable by the user, and interaction with user rules is vendor specific.<a href="#section-2.2-1.8.1" class="pilcrow">¶</a></p>
<p id="section-2.2-1.8.2">A message is defined to be in the same thread as another if the server assigns them both the same thread id, as defined in <span>[<a href="#RFC8474" class="cite xref">RFC8474</a>]</span> Section 5.2 for IMAP or <span>[<a href="#RFC8621" class="cite xref">RFC8621</a>]</span>, Section 3 for JMAP.<a href="#section-2.2-1.8.2" class="pilcrow">¶</a></p>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.2-1.10"> This keyword is set by an IMAP or JMAP client when the user indicates they wish to mute or unmute a thread. When unmuting a thread, the client must remove the keyword from every message in the thread that has it.<a href="#section-2.2-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.11">Related keywords:</dt>
          <dd id="section-2.2-1.12"> Mutually exclusive with <code>$followed</code>. If both are specified on a thread, servers MUST behave as though only <code>$followed</code> were set.<a href="#section-2.2-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.2-1.14"> None<a href="#section-2.2-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.15">Security considerations:</dt>
          <dd id="section-2.2-1.16"> Muting a thread can mean a user won't see a reply. If someone compromises a user's account, they may mute threads where they don't want the user to see the reply, for example when sending phishing to the user's contacts. There are many other ways an attacker with access to the user's mailbox can also achieve this however, so this is not greatly increasing the attack surface.<a href="#section-2.2-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.17">Published specification:</dt>
          <dd id="section-2.2-1.18"> This document<a href="#section-2.2-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.19">Intended usage:</dt>
          <dd id="section-2.2-1.20"> COMMON<a href="#section-2.2-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.21">Scope:</dt>
          <dd id="section-2.2-1.22">BOTH<a href="#section-2.2-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.2-1.23">Owner/Change controller:</dt>
          <dd id="section-2.2-1.24"> IESG<a href="#section-2.2-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="followed-keyword-registration">
<section id="section-2.3">
        <h3 id="name-followed-keyword-registrati"><a href="#section-2.3">2.3.&nbsp;&nbsp;$followed keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.3-1">
          <dt id="section-2.3-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.3-1.2">
            <code>$followed</code><a href="#section-2.3-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.3">Purpose:</dt>
          <dd id="section-2.3-1.4"> Indicate to the server that the user is particularly interested in future replies to a particular thread.<a href="#section-2.3-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.3-1.6"> SHARED<a href="#section-2.3-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.3-1.8">
            <p id="section-2.3-1.8.1">This keyword can cause automatic action. On supporting servers, when a new message arrives that is in the same thread as a message with this keyword the server may automatically process it in some way to prioritise it for the user, for example by ignoring rules that would make it skip the inbox, or automatically adding the <code>$notify</code> keyword. The exact action, whether this is customisable by the user, and interaction with user rules is vendor specific.<a href="#section-2.3-1.8.1" class="pilcrow">¶</a></p>
<p id="section-2.3-1.8.2">A message is defined to be in the same thread as another if the server assigns them both the same thread id, as defined in <span>[<a href="#RFC8474" class="cite xref">RFC8474</a>]</span> Section 5.2 for IMAP or <span>[<a href="#RFC8621" class="cite xref">RFC8621</a>]</span>, Section 3 for JMAP.<a href="#section-2.3-1.8.2" class="pilcrow">¶</a></p>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.3-1.10"> This keyword is set by an IMAP or JMAP client when the user indicates they wish to follow or unfollow a thread. When unfollowing a thread, the client must remove the keyword from every message in the thread that has it.<a href="#section-2.3-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.11">Related keywords:</dt>
          <dd id="section-2.3-1.12"> Mutually exclusive with <code>$muted</code>. If both are specified on a thread, servers MUST behave as though only <code>$followed</code> were set.<a href="#section-2.3-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.3-1.14"> None<a href="#section-2.3-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.15">Security considerations:</dt>
          <dd id="section-2.3-1.16"> None<a href="#section-2.3-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.17">Published specification:</dt>
          <dd id="section-2.3-1.18"> This document<a href="#section-2.3-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.19">Intended usage:</dt>
          <dd id="section-2.3-1.20"> COMMON<a href="#section-2.3-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.21">Scope:</dt>
          <dd id="section-2.3-1.22">BOTH<a href="#section-2.3-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.3-1.23">Owner/Change controller:</dt>
          <dd id="section-2.3-1.24"> IESG<a href="#section-2.3-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="memo-keyword-registration">
<section id="section-2.4">
        <h3 id="name-memo-keyword-registration"><a href="#section-2.4">2.4.&nbsp;&nbsp;$memo keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.4-1">
          <dt id="section-2.4-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.4-1.2">
            <code>$memo</code><a href="#section-2.4-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.3">Purpose:</dt>
          <dd id="section-2.4-1.4"> Indicate to the client that a message is a note-to-self from the user regarding another message in the same thread.<a href="#section-2.4-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.4-1.6"> SHARED<a href="#section-2.4-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.4-1.8"> This keyword is advisory.<a href="#section-2.4-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.4-1.10"> This keyword is set by an IMAP or JMAP client when creating such a message. The message should otherwise be contructed like a reply to the message to which this memo is attached (i.e. appropriate Subject and Reply-To headers set). In supporting clients, messages with this flag may be presented differently to the user, attached to the message the memo is commenting on, and may offer the user the ability to edit or delete the memo. (As messages are immutable, editing requires replacing the message.)<a href="#section-2.4-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.11">Related keywords:</dt>
          <dd id="section-2.4-1.12"> The <code>$hasmemo</code> keyword should be set/cleared at the same time.<a href="#section-2.4-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.4-1.14"> None<a href="#section-2.4-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.15">Security considerations:</dt>
          <dd id="section-2.4-1.16"> None<a href="#section-2.4-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.17">Published specification:</dt>
          <dd id="section-2.4-1.18"> This document<a href="#section-2.4-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.19">Intended usage:</dt>
          <dd id="section-2.4-1.20"> COMMON<a href="#section-2.4-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.21">Scope:</dt>
          <dd id="section-2.4-1.22">BOTH<a href="#section-2.4-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.4-1.23">Owner/Change controller:</dt>
          <dd id="section-2.4-1.24"> IESG<a href="#section-2.4-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="hasmemo-keyword-registration">
<section id="section-2.5">
        <h3 id="name-hasmemo-keyword-registratio"><a href="#section-2.5">2.5.&nbsp;&nbsp;$hasmemo keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.5-1">
          <dt id="section-2.5-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.5-1.2">
            <code>$hasmemo</code><a href="#section-2.5-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.3">Purpose:</dt>
          <dd id="section-2.5-1.4"> Indicate to the client that a message has an associated memo with the <code>$memo</code> keyword.<a href="#section-2.5-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.5-1.6"> SHARED<a href="#section-2.5-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.5-1.8"> This keyword is advisory.<a href="#section-2.5-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.5-1.10"> This keyword is set by an IMAP or JMAP client when creating a memo. The memo gets the <code>$memo</code> keyword, the message it is a note for gets the <code>$hasmemo</code> keyword. This keyword can help in searching for messages with memos, or deciding whether to fetch the whole thread to look for memos when loading a mailbox.<a href="#section-2.5-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.11">Related keywords:</dt>
          <dd id="section-2.5-1.12"> A message with the <code>$memo</code> keyword should be created/destroyed at the same time.<a href="#section-2.5-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.5-1.14"> None<a href="#section-2.5-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.15">Security considerations:</dt>
          <dd id="section-2.5-1.16"> None<a href="#section-2.5-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.17">Published specification:</dt>
          <dd id="section-2.5-1.18"> This document<a href="#section-2.5-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.19">Intended usage:</dt>
          <dd id="section-2.5-1.20"> COMMON<a href="#section-2.5-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.21">Scope:</dt>
          <dd id="section-2.5-1.22">BOTH<a href="#section-2.5-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.5-1.23">Owner/Change controller:</dt>
          <dd id="section-2.5-1.24"> IESG<a href="#section-2.5-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="hasattachment-keyword-registration">
<section id="section-2.6">
        <h3 id="name-hasattachment-keyword-regis"><a href="#section-2.6">2.6.&nbsp;&nbsp;$hasattachment keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.6-1">
          <dt id="section-2.6-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.6-1.2">
            <code>$hasattachment</code><a href="#section-2.6-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.3">Purpose:</dt>
          <dd id="section-2.6-1.4"> Indicate to the client that a message has an attachment.<a href="#section-2.6-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.6-1.6"> SHARED<a href="#section-2.6-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.6-1.8"> This keyword is advisory.<a href="#section-2.6-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.6-1.10"> This keyword is set by an IMAP or JMAP server on messages it determines have an attachment. This can help mailbox clients indicate this to the user without having to fetch the full message body structure. Over JMAP, the "hasAttachment" Email property should indicate the same value.<a href="#section-2.6-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.11">Related keywords:</dt>
          <dd id="section-2.6-1.12"> None<a href="#section-2.6-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.6-1.14"> None<a href="#section-2.6-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.15">Security considerations:</dt>
          <dd id="section-2.6-1.16"> None<a href="#section-2.6-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.17">Published specification:</dt>
          <dd id="section-2.6-1.18"> This document<a href="#section-2.6-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.19">Intended usage:</dt>
          <dd id="section-2.6-1.20"> COMMON<a href="#section-2.6-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.21">Scope:</dt>
          <dd id="section-2.6-1.22">BOTH<a href="#section-2.6-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.6-1.23">Owner/Change controller:</dt>
          <dd id="section-2.6-1.24"> IESG<a href="#section-2.6-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="autosent-keyword-registration">
<section id="section-2.7">
        <h3 id="name-autosent-keyword-registrati"><a href="#section-2.7">2.7.&nbsp;&nbsp;$autosent keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.7-1">
          <dt id="section-2.7-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.7-1.2">
            <code>$autosent</code><a href="#section-2.7-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.3">Purpose:</dt>
          <dd id="section-2.7-1.4"> Indicate to the client that a message was sent automatically as a response due to a user rule or setting.<a href="#section-2.7-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.7-1.6"> SHARED<a href="#section-2.7-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.7-1.8"> This keyword is advisory.<a href="#section-2.7-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.7-1.10"> This keyword is set by an IMAP or JMAP server on the user's copy of their vacation response and other automated messages sent on behalf of the user. Clients may use this to indicate to the user that this message was sent automatically, as if they have forgotten the rule or vacation response is set up they may be surprised to see it among their sent items.<a href="#section-2.7-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.11">Related keywords:</dt>
          <dd id="section-2.7-1.12"> None<a href="#section-2.7-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.7-1.14"> None<a href="#section-2.7-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.15">Security considerations:</dt>
          <dd id="section-2.7-1.16"> None<a href="#section-2.7-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.17">Published specification:</dt>
          <dd id="section-2.7-1.18"> This document<a href="#section-2.7-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.19">Intended usage:</dt>
          <dd id="section-2.7-1.20"> COMMON<a href="#section-2.7-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.21">Scope:</dt>
          <dd id="section-2.7-1.22">BOTH<a href="#section-2.7-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.7-1.23">Owner/Change controller:</dt>
          <dd id="section-2.7-1.24"> IESG<a href="#section-2.7-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="unsubscribed-keyword-registration">
<section id="section-2.8">
        <h3 id="name-unsubscribed-keyword-regist"><a href="#section-2.8">2.8.&nbsp;&nbsp;$unsubscribed keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.8-1">
          <dt id="section-2.8-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.8-1.2">
            <code>$unsubscribed</code><a href="#section-2.8-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.3">Purpose:</dt>
          <dd id="section-2.8-1.4"> Indicate to the client that it has unsubscribed from the thread this message is on.<a href="#section-2.8-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.8-1.6"> SHARED<a href="#section-2.8-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.8-1.8"> This keyword is advisory.<a href="#section-2.8-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.8-1.10"> This keyword is set by an IMAP or JMAP client on a message after attempting to unsubscribe from the mailing list this message came from (e.g., after attempting RFC8058 one-click List-Unsubscribe). It allows clients to remind the user that they have unsubscribed if they open the message again.<a href="#section-2.8-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.11">Related keywords:</dt>
          <dd id="section-2.8-1.12"> None<a href="#section-2.8-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.8-1.14"> None<a href="#section-2.8-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.15">Security considerations:</dt>
          <dd id="section-2.8-1.16"> None<a href="#section-2.8-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.17">Published specification:</dt>
          <dd id="section-2.8-1.18"> This document<a href="#section-2.8-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.19">Intended usage:</dt>
          <dd id="section-2.8-1.20"> COMMON<a href="#section-2.8-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.21">Scope:</dt>
          <dd id="section-2.8-1.22">BOTH<a href="#section-2.8-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.8-1.23">Owner/Change controller:</dt>
          <dd id="section-2.8-1.24"> IESG<a href="#section-2.8-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="canunsubscribe-keyword-registration">
<section id="section-2.9">
        <h3 id="name-canunsubscribe-keyword-regi"><a href="#section-2.9">2.9.&nbsp;&nbsp;$canunsubscribe keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.9-1">
          <dt id="section-2.9-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.9-1.2">
            <code>$canunsubscribe</code><a href="#section-2.9-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.3">Purpose:</dt>
          <dd id="section-2.9-1.4"> Indicate to the client that this message has an RFC8058-compliant List-Unsubscribe header.<a href="#section-2.9-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.9-1.6"> SHARED<a href="#section-2.9-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.9-1.8"> This keyword is advisory.<a href="#section-2.9-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.9-1.10"> This keyword is set by an IMAP or JMAP server on messages with an RFC8058-compliant List-Unsubscribe header. It may only do so if the message passes vendor-specific reputation checks. It is intended to indicate to clients that they may be able to do a one-click unsubscribe, without them having to fetch the List-Unsubscribe header to determint themself.<a href="#section-2.9-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.11">Related keywords:</dt>
          <dd id="section-2.9-1.12"> None<a href="#section-2.9-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.9-1.14"> None<a href="#section-2.9-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.15">Security considerations:</dt>
          <dd id="section-2.9-1.16"> None<a href="#section-2.9-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.17">Published specification:</dt>
          <dd id="section-2.9-1.18"> This document<a href="#section-2.9-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.19">Intended usage:</dt>
          <dd id="section-2.9-1.20"> COMMON<a href="#section-2.9-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.21">Scope:</dt>
          <dd id="section-2.9-1.22">BOTH<a href="#section-2.9-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.9-1.23">Owner/Change controller:</dt>
          <dd id="section-2.9-1.24"> IESG<a href="#section-2.9-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="imported-keyword-registration">
<section id="section-2.10">
        <h3 id="name-imported-keyword-registrati"><a href="#section-2.10">2.10.&nbsp;&nbsp;$imported keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.10-1">
          <dt id="section-2.10-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.10-1.2">
            <code>$imported</code><a href="#section-2.10-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.3">Purpose:</dt>
          <dd id="section-2.10-1.4"> Indicate to the client that this message was imported from another mailbox.<a href="#section-2.10-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.10-1.6"> SHARED<a href="#section-2.10-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.10-1.8"> This keyword is advisory.<a href="#section-2.10-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.10-1.10"> This keyword is set by an IMAP or JMAP server on messages in imports from another mailbox.<a href="#section-2.10-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.11">Related keywords:</dt>
          <dd id="section-2.10-1.12"> None<a href="#section-2.10-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.10-1.14"> None<a href="#section-2.10-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.15">Security considerations:</dt>
          <dd id="section-2.10-1.16"> None<a href="#section-2.10-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.17">Published specification:</dt>
          <dd id="section-2.10-1.18"> This document<a href="#section-2.10-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.19">Intended usage:</dt>
          <dd id="section-2.10-1.20"> COMMON<a href="#section-2.10-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.21">Scope:</dt>
          <dd id="section-2.10-1.22">BOTH<a href="#section-2.10-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.10-1.23">Owner/Change controller:</dt>
          <dd id="section-2.10-1.24"> IESG<a href="#section-2.10-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="istrusted-keyword-registration">
<section id="section-2.11">
        <h3 id="name-istrusted-keyword-registrat"><a href="#section-2.11">2.11.&nbsp;&nbsp;$istrusted keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.11-1">
          <dt id="section-2.11-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.11-1.2">
            <code>$istrusted</code><a href="#section-2.11-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.3">Purpose:</dt>
          <dd id="section-2.11-1.4"> Indicate to the client that the authenticity of the from name and email address have been verified with complete confidence by the server.<a href="#section-2.11-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.11-1.6"> SHARED<a href="#section-2.11-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.11-1.8"> This keyword is advisory. Clients may show a verification mark (often a tick icon) on messages with this keyword to indicate their trusted status to the user.<a href="#section-2.11-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.11-1.10"> This keyword is set by an IMAP or JMAP server on messages it delivers where it wishes to confirm to the user that this is a legitimate email they can trust. It is usually only used for the mailbox provider's own messages to the customer, where they can know with absolute certainty that the friendly from name and email address are legitimate.<a href="#section-2.11-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.11">Related keywords:</dt>
          <dd id="section-2.11-1.12"> None<a href="#section-2.11-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.11-1.14"> None<a href="#section-2.11-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.15">Security considerations:</dt>
          <dd id="section-2.11-1.16"> Servers should make sure this keyword is only set for messages that really are trusted!<a href="#section-2.11-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.17">Published specification:</dt>
          <dd id="section-2.11-1.18"> This document<a href="#section-2.11-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.19">Intended usage:</dt>
          <dd id="section-2.11-1.20"> COMMON<a href="#section-2.11-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.21">Scope:</dt>
          <dd id="section-2.11-1.22">BOTH<a href="#section-2.11-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.11-1.23">Owner/Change controller:</dt>
          <dd id="section-2.11-1.24"> IESG<a href="#section-2.11-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="maskedemail-keyword-registration">
<section id="section-2.12">
        <h3 id="name-maskedemail-keyword-registr"><a href="#section-2.12">2.12.&nbsp;&nbsp;$maskedemail keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.12-1">
          <dt id="section-2.12-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.12-1.2">
            <code>$maskedemail</code><a href="#section-2.12-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.3">Purpose:</dt>
          <dd id="section-2.12-1.4"> Indicate to the client that the message was received via an alias created for an individual sender.<a href="#section-2.12-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.12-1.6"> SHARED<a href="#section-2.12-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.12-1.8"> This keyword is advisory. Clients may show an icon to indicate to the user this was received via a masked email address - an alias created for a specific sender to hide the user's real email address.<a href="#section-2.12-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.12-1.10"> This keyword is set by an IMAP or JMAP server on messages it delivers that arrived via such an alias.<a href="#section-2.12-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.11">Related keywords:</dt>
          <dd id="section-2.12-1.12"> None<a href="#section-2.12-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.12-1.14"> None<a href="#section-2.12-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.15">Security considerations:</dt>
          <dd id="section-2.12-1.16"> None<a href="#section-2.12-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.17">Published specification:</dt>
          <dd id="section-2.12-1.18"> This document<a href="#section-2.12-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.19">Intended usage:</dt>
          <dd id="section-2.12-1.20"> LIMITED<a href="#section-2.12-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.21">Scope:</dt>
          <dd id="section-2.12-1.22">BOTH<a href="#section-2.12-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.12-1.23">Owner/Change controller:</dt>
          <dd id="section-2.12-1.24"> IESG<a href="#section-2.12-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="new-keyword-registration">
<section id="section-2.13">
        <h3 id="name-new-keyword-registration"><a href="#section-2.13">2.13.&nbsp;&nbsp;$new keyword registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-2.13-1">
          <dt id="section-2.13-1.1">IMAP/JMAP keyword name:</dt>
          <dd id="section-2.13-1.2">
            <code>$new</code><a href="#section-2.13-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.3">Purpose:</dt>
          <dd id="section-2.13-1.4"> Indicate to the client that a message should be made more prominent to the user due to a recent action.<a href="#section-2.13-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.5">Private or Shared on a server:</dt>
          <dd id="section-2.13-1.6"> SHARED<a href="#section-2.13-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.7">Is it an advisory keyword or may it cause an automatic action:</dt>
          <dd id="section-2.13-1.8"> This keyword is advisory. Clients may show the status of the message.<a href="#section-2.13-1.8" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.9">When/by whom the keyword is set/cleared:</dt>
          <dd id="section-2.13-1.10"> This keyword is set by an IMAP or JMAP server on messages after awakening them from snooze. Clients should clear the keyword when the message is opened.<a href="#section-2.13-1.10" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.11">Related keywords:</dt>
          <dd id="section-2.13-1.12"> None<a href="#section-2.13-1.12" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.13">Related IMAP capabilities:</dt>
          <dd id="section-2.13-1.14"> None<a href="#section-2.13-1.14" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.15">Security considerations:</dt>
          <dd id="section-2.13-1.16"> None<a href="#section-2.13-1.16" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.17">Published specification:</dt>
          <dd id="section-2.13-1.18"> This document<a href="#section-2.13-1.18" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.19">Intended usage:</dt>
          <dd id="section-2.13-1.20"> LIMITED<a href="#section-2.13-1.20" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.21">Scope:</dt>
          <dd id="section-2.13-1.22">BOTH<a href="#section-2.13-1.22" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-2.13-1.23">Owner/Change controller:</dt>
          <dd id="section-2.13-1.24"> IESG<a href="#section-2.13-1.24" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
</section>
</div>
<div id="imap-jmap-mailbox-name-registrations">
<section id="section-3">
      <h2 id="name-imap-mailbox-name-attribute"><a href="#section-3">3.&nbsp;&nbsp;IMAP Mailbox Name Attributes Registrations</a></h2>
<div id="snoozed-mailbox-name-attribute-registration">
<section id="section-3.1">
        <h3 id="name-snoozed-mailbox-name-attrib"><a href="#section-3.1">3.1.&nbsp;&nbsp;Snoozed mailbox name attribute registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-3.1-1">
          <dt id="section-3.1-1.1">Attribute Name:</dt>
          <dd id="section-3.1-1.2"> Snoozed<a href="#section-3.1-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.1-1.3">Description:</dt>
          <dd id="section-3.1-1.4"> Messages that have been snoozed are moved to this mailbox until the "awaken" time, when they are moved out of it again automatically by the server.<a href="#section-3.1-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.1-1.5">Reference:</dt>
          <dd id="section-3.1-1.6"> This document.<a href="#section-3.1-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.1-1.7">Usage Notes:</dt>
          <dd id="section-3.1-1.8"> Snooze functionality is common among services but not yet standardised. This attribute marks the mailbox where snoozed messages may be found, but does not on its own provide a way for clients to snooze messages.<a href="#section-3.1-1.8" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="scheduled-mailbox-name-attribute-registration">
<section id="section-3.2">
        <h3 id="name-scheduled-mailbox-name-attr"><a href="#section-3.2">3.2.&nbsp;&nbsp;Scheduled mailbox name attribute registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-3.2-1">
          <dt id="section-3.2-1.1">Attribute Name:</dt>
          <dd id="section-3.2-1.2"> Scheduled<a href="#section-3.2-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.2-1.3">Description:</dt>
          <dd id="section-3.2-1.4"> Messages that have been scheduled to send at a later time. Once the server has sent them at the scheduled time, they will automatically be deleted or moved from this mailbox by the server (probably to the \Sent mailbox).<a href="#section-3.2-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.2-1.5">Reference:</dt>
          <dd id="section-3.2-1.6"> This document.<a href="#section-3.2-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.2-1.7">Usage Notes:</dt>
          <dd id="section-3.2-1.8"> Scheduled sending functionality is common among services but not yet standardised. This attribute marks the mailbox where scheduled messages may be found, but does not on its own provide a way for clients to schedule messages for sending.<a href="#section-3.2-1.8" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
<div id="memos-mailbox-name-attribute-registration">
<section id="section-3.3">
        <h3 id="name-memos-mailbox-name-attribut"><a href="#section-3.3">3.3.&nbsp;&nbsp;Memos mailbox name attribute registration</a></h3>
<span class="break"></span><dl class="dlCompact dlParallel" id="section-3.3-1">
          <dt id="section-3.3-1.1">Attribute Name:</dt>
          <dd id="section-3.3-1.2"> Memos<a href="#section-3.3-1.2" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.3-1.3">Description:</dt>
          <dd id="section-3.3-1.4"> Messages that have the <code>$memo</code> keyword. Clients creating memos are recommended to store them in this mailbox. This allows them to more easily be hidden from the user as "messages", and presented only as memos instead.<a href="#section-3.3-1.4" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.3-1.5">Reference:</dt>
          <dd id="section-3.3-1.6"> This document.<a href="#section-3.3-1.6" class="pilcrow">¶</a>
</dd>
          <dd class="break"></dd>
<dt id="section-3.3-1.7">Usage Notes:</dt>
          <dd id="section-3.3-1.8"> None.<a href="#section-3.3-1.8" class="pilcrow">¶</a>
</dd>
        <dd class="break"></dd>
</dl>
</section>
</div>
</section>
</div>
<section id="section-4">
      <h2 id="name-normative-references"><a href="#section-4">4.&nbsp;&nbsp;Normative References</a></h2>
<dl class="references">
<dt id="RFC8474">[RFC8474]</dt>
      <dd>
<span class="refAuthor">Gondwana, B., Ed.</span>, <span class="refTitle">"IMAP Extension for Object Identifiers"</span>, <span class="seriesInfo">RFC 8474</span>, <span class="seriesInfo">DOI 10.17487/RFC8474</span>, <time datetime="2018-09" class="refDate">September 2018</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc8474">https://www.rfc-editor.org/info/rfc8474</a>&gt;</span>. </dd>
<dd class="break"></dd>
<dt id="RFC8621">[RFC8621]</dt>
    <dd>
<span class="refAuthor">Jenkins, N.</span> and <span class="refAuthor">C. Newman</span>, <span class="refTitle">"The JSON Meta Application Protocol (JMAP) for Mail"</span>, <span class="seriesInfo">RFC 8621</span>, <span class="seriesInfo">DOI 10.17487/RFC8621</span>, <time datetime="2019-08" class="refDate">August 2019</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc8621">https://www.rfc-editor.org/info/rfc8621</a>&gt;</span>. </dd>
<dd class="break"></dd>
</dl>
</section>




<div id="status-of-memo">
<section id="section-boilerplate.1">
        <h2 id="name-status-of-this-memo"><a href="#name-status-of-this-memo">Status of This Memo</a></h2>
<p id="section-boilerplate.1-1">
        This Internet-Draft is submitted in full conformance with the
        provisions of BCP 78 and BCP 79.<a href="#section-boilerplate.1-1" class="pilcrow">¶</a></p>
<p id="section-boilerplate.1-2">
        Internet-Drafts are working documents of the Internet Engineering Task
        Force (IETF). Note that other groups may also distribute working
        documents as Internet-Drafts. The list of current Internet-Drafts is
        at <span><a href="https://datatracker.ietf.org/drafts/current/">https://datatracker.ietf.org/drafts/current/</a></span>.<a href="#section-boilerplate.1-2" class="pilcrow">¶</a></p>
<p id="section-boilerplate.1-3">
        Internet-Drafts are draft documents valid for a maximum of six months
        and may be updated, replaced, or obsoleted by other documents at any
        time. It is inappropriate to use Internet-Drafts as reference
        material or to cite them other than as "work in progress."<a href="#section-boilerplate.1-3" class="pilcrow">¶</a></p>
<p id="section-boilerplate.1-4">
        This Internet-Draft will expire on 19 April 2025.<a href="#section-boilerplate.1-4" class="pilcrow">¶</a></p>
</section>
</div><div id="copyright">
<section id="section-boilerplate.2">
        <h2 id="name-copyright-notice"><a href="#name-copyright-notice">Copyright Notice</a></h2>
<p id="section-boilerplate.2-1">
            Copyright (c) 2024 IETF Trust and the persons identified as the
            document authors. All rights reserved.<a href="#section-boilerplate.2-1" class="pilcrow">¶</a></p>
<p id="section-boilerplate.2-2">
            This document is subject to BCP 78 and the IETF Trust's Legal
            Provisions Relating to IETF Documents
            (<span><a href="https://trustee.ietf.org/license-info">https://trustee.ietf.org/license-info</a></span>) in effect on the date of
            publication of this document. Please review these documents
            carefully, as they describe your rights and restrictions with
            respect to this document. Code Components extracted from this
            document must include Revised BSD License text as described in
            Section 4.e of the Trust Legal Provisions and are provided without
            warranty as described in the Revised BSD License.<a href="#section-boilerplate.2-2" class="pilcrow">¶</a></p>
</section>
</div>
