---
layout: article-rfc
permalink: /spec/rfc9670/index.html
toc: generated-rfc-toc/rfc9670.html
title: 'RFC 9670 – JSON Meta Application Protocol (JMAP) Sharing'
description: >-
    This document specifies a data model for sharing data between users using the JSON Meta Application Protocol (JMAP). Future documents can reference this document when defining data types to support a consistent model of sharing.
meta:
    authors:
        - Neil Jenkins
    keywords:
        - JMAP
        - JSON
        - sharing
---
<div id="introduction">
<section id="section-1">
      <h2 id="name-introduction"><a href="#section-1">1.&nbsp;&nbsp;Introduction</a></h2>
<p id="section-1-1">The JSON Meta Application Protocol (JMAP) <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>]</span> is a generic protocol for synchronizing data, such as mail, calendars, or contacts, between a client and a server. It is optimized for mobile and web environments and provides a consistent interface to query, read, and modify different data types, including comprehensive error handling.<a href="#section-1-1" class="pilcrow">¶</a></p>
<p id="section-1-2">This specification defines a data model to represent entities in a collaborative environment and a framework for sharing data between them that can be used to provide a consistent sharing model for different data types. It does not define <em>what</em> may be shared or the granularity of permissions, as this will depend on the data in question.<a href="#section-1-2" class="pilcrow">¶</a></p>
<div id="notational-conventions">
<section id="section-1.1">
        <h3 id="name-notational-conventions"><a href="#section-1.1">1.1.&nbsp;&nbsp;Notational Conventions</a></h3>
<p id="section-1.1-1">
    The key words "<span class="bcp14">MUST</span>", "<span class="bcp14">MUST NOT</span>", "<span class="bcp14">REQUIRED</span>", "<span class="bcp14">SHALL</span>", "<span class="bcp14">SHALL NOT</span>", "<span class="bcp14">SHOULD</span>", "<span class="bcp14">SHOULD NOT</span>", "<span class="bcp14">RECOMMENDED</span>", "<span class="bcp14">NOT RECOMMENDED</span>",
    "<span class="bcp14">MAY</span>", and "<span class="bcp14">OPTIONAL</span>" in this document are to be interpreted as
    described in BCP&nbsp;14 <span>[<a href="#RFC2119" class="cite xref">RFC2119</a>]</span> <span>[<a href="#RFC8174" class="cite xref">RFC8174</a>]</span> 
    when, and only when, they appear in all capitals, as shown here.<a href="#section-1.1-1" class="pilcrow">¶</a></p>
<p id="section-1.1-2">Type signatures, examples, and property descriptions in this document follow the conventions established in <span><a href="https://rfc-editor.org/rfc/rfc8620#section-1.1" class="relref">Section 1.1</a> of [<a href="#RFC8620" class="cite xref">RFC8620</a>]</span>.  Data types defined in the core specification are also used in this document.<a href="#section-1.1-2" class="pilcrow">¶</a></p>
<p id="section-1.1-3">Examples of API exchanges only show the methodCalls array of the Request object or the methodResponses array of the Response object. For compactness, the rest of the Request/Response object is omitted.<a href="#section-1.1-3" class="pilcrow">¶</a></p>
</section>
</div>
<div id="terminology">
<section id="section-1.2">
        <h3 id="name-terminology"><a href="#section-1.2">1.2.&nbsp;&nbsp;Terminology</a></h3>
<p id="section-1.2-1">The same terminology is used in this document as in the core JMAP specification. See <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-1.6" class="relref">Section 1.6</a></span>.<a href="#section-1.2-1" class="pilcrow">¶</a></p>
<p id="section-1.2-2">The terms "Principal" and "ShareNotification" (with this specific capitalization) are used to refer to the data types defined in this document and instances of those data types.<a href="#section-1.2-2" class="pilcrow">¶</a></p>
</section>
</div>
<div id="data-model-overview">
<section id="section-1.3">
        <h3 id="name-data-model-overview"><a href="#section-1.3">1.3.&nbsp;&nbsp;Data Model Overview</a></h3>
<p id="section-1.3-1">A Principal (see <a href="#principals" class="auto internal xref">Section 2</a>) represents an individual, team, or resource (e.g., a room or projector). The object contains information about the entity being represented, such as a name, description, and time zone. It may also hold domain-specific information. A Principal may be associated with zero or more Accounts (see <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-1.6.2" class="relref">Section 1.6.2</a></span>) containing data belonging to the Principal. Managing the set of Principals within a system is out of scope for this specification, as it is highly domain specific. It is likely to map directly from a directory service or other user management system.<a href="#section-1.3-1" class="pilcrow">¶</a></p>
<p id="section-1.3-2">Data types may allow users to share data with others by assigning permissions to Principals. When a user's permissions are changed, a ShareNotification object is created for them so a client can inform the user of the changes.<a href="#section-1.3-2" class="pilcrow">¶</a></p>
</section>
</div>
<div id="subscriptions">
<section id="section-1.4">
        <h3 id="name-subscribing-to-shared-data"><a href="#section-1.4">1.4.&nbsp;&nbsp;Subscribing to Shared Data</a></h3>
<p id="section-1.4-1">Permissions determine whether a user <em>may</em> access data but not whether they <em>want</em> to. Some shared data is of equal importance as the user's own, while other data is just there should the user wish to explicitly go find it. Clients will often want to differentiate the two. For example, a company may share mailing list archives for all departments with all employees, but a user may only generally be interested in the few they belong to. They would have <em>permission</em> to access many mailboxes but can <em>subscribe</em> to just the ones they care about. The client would provide separate interfaces for reading mail in subscribed mailboxes and browsing all mailboxes they have permission to access in order to manage those that they are subscribed to.<a href="#section-1.4-1" class="pilcrow">¶</a></p>
<p id="section-1.4-2">The JMAP Session object (see <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-2" class="relref">Section 2</a></span>) is defined to include an object in the "accounts" property for every Account that the user has access to. Collaborative systems may share data between a very large number of Principals, most of which the user does not care about day to day. For servers implementing this specification, the Session object <span class="bcp14">MUST</span> only include Accounts where either the user is subscribed to at least one record (see <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-1.6.3" class="relref">Section 1.6.3</a></span>) in the Account or the Account belongs to the user. StateChange events (<span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-7.1" class="relref">Section 7.1</a></span>) for changes to data <span class="bcp14">SHOULD</span> only be sent for data the user has subscribed to and <span class="bcp14">MUST NOT</span> be sent for any Account where the user is not subscribed to any records in the Account, except where that Account belongs to the user.<a href="#section-1.4-2" class="pilcrow">¶</a></p>
<p id="section-1.4-3">The server <span class="bcp14">MAY</span> reject the user's attempt to subscribe to some resources even if they have permission to access them (e.g., a calendar representing a location).<a href="#section-1.4-3" class="pilcrow">¶</a></p>
<p id="section-1.4-4">A user can query the set of Principals they have access to with "Principal/query" (see <a href="#principal-query" class="auto internal xref">Section 2.4</a>). The Principal object will contain an Account object for all Accounts where the user has permission to access data for that Principal, even if they are not yet subscribed.<a href="#section-1.4-4" class="pilcrow">¶</a></p>
</section>
</div>
<div id="addition-to-the-capabilities-object">
<section id="section-1.5">
        <h3 id="name-addition-to-the-capabilitie"><a href="#section-1.5">1.5.&nbsp;&nbsp;Addition to the Capabilities Object</a></h3>
<p id="section-1.5-1">The capabilities object is returned as part of the JMAP Session object; see <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-2" class="relref">Section 2</a></span>. This document defines two additional capability URIs.<a href="#section-1.5-1" class="pilcrow">¶</a></p>
<div id="urn-ietf-params-jmap-principals">
<section id="section-1.5.1">
          <h4 id="name-urnietfparamsjmapprincipals"><a href="#section-1.5.1">1.5.1.&nbsp;&nbsp;urn:ietf:params:jmap:principals</a></h4>
<p id="section-1.5.1-1">The <code>urn:ietf:params:jmap:principals</code> capability represents support for the Principal and ShareNotification data types and associated API methods.<a href="#section-1.5.1-1" class="pilcrow">¶</a></p>
<p id="section-1.5.1-2">The value of this property in the JMAP Session "capabilities" property is an empty object.<a href="#section-1.5.1-2" class="pilcrow">¶</a></p>
<p id="section-1.5.1-3">The value of this property in an Account's "accountCapabilities" property is an object that <span class="bcp14">MUST</span> contain the following information on server capabilities and permissions for that Account:<a href="#section-1.5.1-3" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-1.5.1-4">
            <dt id="section-1.5.1-4.1">
<strong>currentUserPrincipalId</strong>: <code>Id|null</code>
</dt>
            <dd id="section-1.5.1-4.2">The id of the Principal in this Account that corresponds to the user fetching this object, if any.<a href="#section-1.5.1-4.2" class="pilcrow">¶</a>
</dd>
          
</dl>
</section>
</div>
<div id="urn-ietf-params-jmap-principals-owner">
<section id="section-1.5.2">
          <h4 id="name-urnietfparamsjmapprincipalso"><a href="#section-1.5.2">1.5.2.&nbsp;&nbsp;urn:ietf:params:jmap:principals:owner</a></h4>
<p id="section-1.5.2-1">The URI <code>urn:ietf:params:jmap:principals:owner</code> is solely used as a key in an Account's "accountCapabilities" property. It does not appear in the JMAP Session capabilities -- support is indicated by the <code>urn:ietf:params:jmap:principals</code> URI being present in the session capabilities.<a href="#section-1.5.2-1" class="pilcrow">¶</a></p>
<p id="section-1.5.2-2">If <code>urn:ietf:params:jmap:principals:owner</code> is a key in an Account's "accountCapabilities" property, that Account (and the data therein) is owned by a Principal. Some Accounts may not be owned by a Principal (e.g., the Account that contains the data for the Principals themselves), in which case this property is omitted.<a href="#section-1.5.2-2" class="pilcrow">¶</a></p>
<p id="section-1.5.2-3">The value of this property is an object with the following properties:<a href="#section-1.5.2-3" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-1.5.2-4">
            <dt id="section-1.5.2-4.1">
<strong>accountIdForPrincipal</strong>: <code>Id</code>
</dt>
            <dd id="section-1.5.2-4.2">
The id of an Account with the <code>urn:ietf:params:jmap:principals</code>
capability that contains the corresponding Principal object.<a href="#section-1.5.2-4.2" class="pilcrow">¶</a>
</dd>
            
<dt id="section-1.5.2-4.3">
<strong>principalId</strong>:<code>Id</code>
</dt>
            <dd id="section-1.5.2-4.4"> The id of the Principal that owns this Account.<a href="#section-1.5.2-4.4" class="pilcrow">¶</a>
</dd>
          
</dl>
</section>
</div>
</section>
</div>
</section>
</div>
<div id="principals">
<section id="section-2">
      <h2 id="name-principals"><a href="#section-2">2.&nbsp;&nbsp;Principals</a></h2>
<p id="section-2-1">A Principal represents an individual, a group, a location (e.g., a room), a resource (e.g., a projector), or another entity in a collaborative environment. Sharing in JMAP is generally configured by assigning rights to certain data within an Account to other Principals. For example, a user may assign permission to read their calendar to a Principal representing another user or their team.<a href="#section-2-1" class="pilcrow">¶</a></p>
<p id="section-2-2">In a shared environment, such as a workplace, a user may have access to a large number of Principals.<a href="#section-2-2" class="pilcrow">¶</a></p>
<p id="section-2-3">In most systems, the user will have access to a single Account containing Principal objects. In some situations, for example, when aggregating data from different places, there may be multiple Accounts containing Principal objects.<a href="#section-2-3" class="pilcrow">¶</a></p>
<p id="section-2-4">A <strong>Principal</strong> object has the following properties:<a href="#section-2-4" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-2-5">
        <dt id="section-2-5.1">
<strong>id</strong>: <code>Id</code> (immutable; server-set)</dt>
        <dd id="section-2-5.2">The id of the Principal.<a href="#section-2-5.2" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.3">
<strong>type</strong>: <code>String</code>
</dt>
        <dd id="section-2-5.4">
          <p id="section-2-5.4.1">This <span class="bcp14">MUST</span> be one of the following values:<a href="#section-2-5.4.1" class="pilcrow">¶</a></p>
<ul class="compact">
<li class="compact" id="section-2-5.4.2.1">
              <code>"individual"</code>: This represents a single person.<a href="#section-2-5.4.2.1" class="pilcrow">¶</a>
</li>
            <li class="compact" id="section-2-5.4.2.2">
              <code>"group"</code>: This represents a group of other Principals.<a href="#section-2-5.4.2.2" class="pilcrow">¶</a>
</li>
            <li class="compact" id="section-2-5.4.2.3">
              <code>"resource"</code>: This represents some resource, e.g., a projector.<a href="#section-2-5.4.2.3" class="pilcrow">¶</a>
</li>
            <li class="compact" id="section-2-5.4.2.4">
              <code>"location"</code>: This represents a location.<a href="#section-2-5.4.2.4" class="pilcrow">¶</a>
</li>
            <li class="compact" id="section-2-5.4.2.5">
              <code>"other"</code>: This represents some other undefined Principal.<a href="#section-2-5.4.2.5" class="pilcrow">¶</a>
</li>
          </ul>
</dd>
        
<dt id="section-2-5.5">
<strong>name</strong>: <code>String</code>
</dt>
        <dd id="section-2-5.6">The name of the Principal, e.g., "Jane Doe" or "Room 4B".<a href="#section-2-5.6" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.7">
<strong>description</strong>: <code>String|null</code>
</dt>
        <dd id="section-2-5.8">A longer description of the Principal, for example, details about the facilities of a resource, or null if no description is available.<a href="#section-2-5.8" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.9">
<strong>email</strong>: <code>String|null</code>
</dt>
        <dd id="section-2-5.10">An email address for the Principal, or <code>null</code> if no email is available. If given, the value <span class="bcp14">MUST</span> conform to the "addr-spec" syntax, as defined in <span>[<a href="#RFC5322" class="cite xref">RFC5322</a>], <a href="https://rfc-editor.org/rfc/rfc5322#section-3.4.1" class="relref">Section 3.4.1</a></span>.<a href="#section-2-5.10" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.11">
<strong>timeZone</strong>: <code>String|null</code>
</dt>
        <dd id="section-2-5.12">The time zone for this Principal, if known. If not <code>null</code>, the value <span class="bcp14">MUST</span> be a time zone name from the IANA Time Zone Database <span>[<a href="#IANA-TZDB" class="cite xref">IANA-TZDB</a>]</span>.<a href="#section-2-5.12" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.13">
<strong>capabilities</strong>: <code>String[Object]</code> (server-set)</dt>
        <dd id="section-2-5.14">A map of JMAP capability URIs to domain-specific information about the Principal in relation to that capability, as defined in the document that registered the capability.<a href="#section-2-5.14" class="pilcrow">¶</a>
</dd>
        
<dt id="section-2-5.15">
<strong>accounts</strong>: <code>Id[Account]|null</code> (server-set)</dt>
        <dd id="section-2-5.16">A map of Account id to Account object for each JMAP Account containing data
for this Principal that the user has access to, or <code>null</code> if none.<a href="#section-2-5.16" class="pilcrow">¶</a>
</dd>
      
</dl>
<div id="principal-get">
<section id="section-2.1">
        <h3 id="name-principal-get"><a href="#section-2.1">2.1.&nbsp;&nbsp;Principal/get</a></h3>
<p id="section-2.1-1">This is a standard "/get" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.1" class="relref">Section 5.1</a></span>.<a href="#section-2.1-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="principal-changes">
<section id="section-2.2">
        <h3 id="name-principal-changes"><a href="#section-2.2">2.2.&nbsp;&nbsp;Principal/changes</a></h3>
<p id="section-2.2-1">This is a standard "/changes" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.2" class="relref">Section 5.2</a></span>.<a href="#section-2.2-1" class="pilcrow">¶</a></p>
<aside id="section-2.2-2">
          <p id="section-2.2-2.1">Note: Implementations backed by an external directory may be unable to calculate changes. In this case, they will always return a "cannotCalculateChanges" error as described in the core JMAP specification.<a href="#section-2.2-2.1" class="pilcrow">¶</a></p>
</aside>
</section>
</div>
<div id="principal-set">
<section id="section-2.3">
        <h3 id="name-principal-set"><a href="#section-2.3">2.3.&nbsp;&nbsp;Principal/set</a></h3>
<p id="section-2.3-1">This is a standard "/set" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.3" class="relref">Section 5.3</a></span>.<a href="#section-2.3-1" class="pilcrow">¶</a></p>
<p id="section-2.3-2">Managing Principals is likely tied to a directory service or some other vendor-specific solution. This management may occur out of band or via an additional capability defined elsewhere. Allowing direct user modification of properties has security considerations, as noted in <a href="#security-considerations" class="auto internal xref">Section 6</a>. A server <span class="bcp14">MUST</span> reject any change it doesn't allow with a "forbidden" SetError.<a href="#section-2.3-2" class="pilcrow">¶</a></p>
<p id="section-2.3-3">Where a server does support changes via this API, it <span class="bcp14">SHOULD</span> allow an update to the "name", "description", and "timeZone" properties of the Principal with the same id as the "currentUserPrincipalId" in the Account capabilities. This allows the user to update their own details.<a href="#section-2.3-3" class="pilcrow">¶</a></p>
</section>
</div>
<div id="principal-query">
<section id="section-2.4">
        <h3 id="name-principal-query"><a href="#section-2.4">2.4.&nbsp;&nbsp;Principal/query</a></h3>
<p id="section-2.4-1">This is a standard "/query" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.5" class="relref">Section 5.5</a></span>.<a href="#section-2.4-1" class="pilcrow">¶</a></p>
<div id="filtering">
<section id="section-2.4.1">
          <h4 id="name-filtering"><a href="#section-2.4.1">2.4.1.&nbsp;&nbsp;Filtering</a></h4>
<p id="section-2.4.1-1">A <strong>FilterCondition</strong> object has the following properties, all of which are optional:<a href="#section-2.4.1-1" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-2.4.1-2">
            <dt id="section-2.4.1-2.1">
<strong>accountIds</strong>: <code>String[]</code>
</dt>
            <dd id="section-2.4.1-2.2">A list of Account ids. The Principal matches if any of the ids in this list are keys in the Principal's "accounts" property (i.e., if any of the Account ids belong to the Principal).<a href="#section-2.4.1-2.2" class="pilcrow">¶</a>
</dd>
            
<dt id="section-2.4.1-2.3">
<strong>email</strong>: <code>String</code>
</dt>
            <dd id="section-2.4.1-2.4">The email property of the Principal contains the given string.<a href="#section-2.4.1-2.4" class="pilcrow">¶</a>
</dd>
            
<dt id="section-2.4.1-2.5">
<strong>name</strong>: <code>String</code>
</dt>
            <dd id="section-2.4.1-2.6">The name property of the Principal contains the given string.<a href="#section-2.4.1-2.6" class="pilcrow">¶</a>
</dd>
            
<dt id="section-2.4.1-2.7">
<strong>text</strong>: <code>String</code>
</dt>
            <dd id="section-2.4.1-2.8">The name, email, or description property of the Principal contains the given string.<a href="#section-2.4.1-2.8" class="pilcrow">¶</a>
</dd>
            
<dt id="section-2.4.1-2.9">
<strong>type</strong>: <code>String</code>
</dt>
            <dd id="section-2.4.1-2.10">The type must be exactly as given to match the condition.<a href="#section-2.4.1-2.10" class="pilcrow">¶</a>
</dd>
            
<dt id="section-2.4.1-2.11">
<strong>timeZone</strong>: <code>String</code>
</dt>
            <dd id="section-2.4.1-2.12">The timeZone must be exactly as given to match the condition.<a href="#section-2.4.1-2.12" class="pilcrow">¶</a>
</dd>
          
</dl>
<p id="section-2.4.1-3">All given conditions in the FilterCondition object must match for the Principal to match.<a href="#section-2.4.1-3" class="pilcrow">¶</a></p>
<p id="section-2.4.1-4">Text matches for "contains" <span class="bcp14">SHOULD</span> be simple substring matches.<a href="#section-2.4.1-4" class="pilcrow">¶</a></p>
</section>
</div>
</section>
</div>
<div id="principal-querychanges">
<section id="section-2.5">
        <h3 id="name-principal-querychanges"><a href="#section-2.5">2.5.&nbsp;&nbsp;Principal/queryChanges</a></h3>
<p id="section-2.5-1">This is a standard "/queryChanges" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.6" class="relref">Section 5.6</a></span>.<a href="#section-2.5-1" class="pilcrow">¶</a></p>
<aside id="section-2.5-2">
          <p id="section-2.5-2.1">Note: Implementations backed by an external directory may be unable to calculate changes. In this case, they will always return a "cannotCalculateChanges" error as described in the core JMAP specification.<a href="#section-2.5-2.1" class="pilcrow">¶</a></p>
</aside>
</section>
</div>
</section>
</div>
<div id="share-notifications">
<section id="section-3">
      <h2 id="name-sharenotifications"><a href="#section-3">3.&nbsp;&nbsp;ShareNotifications</a></h2>
<p id="section-3-1">The ShareNotification data type records when the user's permissions to access a shared object changes. ShareNotifications are only created by the server; users cannot create them explicitly. They are stored in the same Account as the Principals.<a href="#section-3-1" class="pilcrow">¶</a></p>
<p id="section-3-2">Clients may present the list of notifications to the user and allow the user to dismiss them. To dismiss a notification, use a standard "/set" call to destroy it.<a href="#section-3-2" class="pilcrow">¶</a></p>
<p id="section-3-3">The server <span class="bcp14">SHOULD</span> create a ShareNotification whenever the user's permissions change on an object. It <span class="bcp14">MAY</span> choose not to create a notification for permission changes to a group Principal, even if the user is in the group, if this is more likely to be overwhelming than helpful, or if it would create excessive notifications within the system.<a href="#section-3-3" class="pilcrow">¶</a></p>
<p id="section-3-4">The server <span class="bcp14">MAY</span> limit the maximum number of notifications it will store for a user. When the limit is reached, any new notification will cause the previously oldest notification to be automatically deleted.<a href="#section-3-4" class="pilcrow">¶</a></p>
<p id="section-3-5">The server <span class="bcp14">MAY</span> coalesce notifications if appropriate or remove notifications after a certain period of time or that it deems are no longer relevant.<a href="#section-3-5" class="pilcrow">¶</a></p>
<p id="section-3-6">A <strong>ShareNotification</strong> object has the following properties:<a href="#section-3-6" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-3-7">
        <dt id="section-3-7.1">
<strong>id</strong>: <code>String</code> (immutable; server-set)</dt>
        <dd id="section-3-7.2">The id of the ShareNotification.<a href="#section-3-7.2" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.3">
<strong>created</strong>: <code>UTCDate</code> (immutable; server-set)</dt>
        <dd id="section-3-7.4">The time this notification was created.<a href="#section-3-7.4" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.5">
<strong>changedBy</strong>: <code>Entity</code> (immutable; server-set)</dt>
        <dd id="section-3-7.6">
          <p id="section-3-7.6.1">Who made the change. An <strong>Entity</strong> object has the following properties:<a href="#section-3-7.6.1" class="pilcrow">¶</a></p>
<dl class="dlCompact dlNewline" id="section-3-7.6.2">
            <dt id="section-3-7.6.2.1">
<strong>name</strong>: <code>String</code>
</dt>
            <dd id="section-3-7.6.2.2">The name of the entity who made the change.<a href="#section-3-7.6.2.2" class="pilcrow">¶</a>
</dd>
            
<dt id="section-3-7.6.2.3">
<strong>email</strong>: <code>String|null</code>
</dt>
            <dd id="section-3-7.6.2.4">The email of the entity who made the change, or <code>null</code> if no email is available.<a href="#section-3-7.6.2.4" class="pilcrow">¶</a>
</dd>
            
<dt id="section-3-7.6.2.5">
<strong>principalId</strong>: <code>Id|null</code>
</dt>
            <dd id="section-3-7.6.2.6">The id of the Principal corresponding to the entity who made the change, or <code>null</code> if no associated Principal.<a href="#section-3-7.6.2.6" class="pilcrow">¶</a>
</dd>
          
</dl>
</dd>
        
<dt id="section-3-7.7">
<strong>objectType</strong>: <code>String</code> (immutable; server-set)</dt>
        <dd id="section-3-7.8">The name of the data type for the object whose permissions have changed, as registered in the IANA "JMAP Data Types" registry <span>[<a href="#IANA-JMAP" class="cite xref">IANA-JMAP</a>]</span>, e.g., "Calendar" or "Mailbox".<a href="#section-3-7.8" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.9">
<strong>objectAccountId</strong>: <code>Id</code> (immutable; server-set)</dt>
        <dd id="section-3-7.10">The id of the Account where this object exists.<a href="#section-3-7.10" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.11">
<strong>objectId</strong>: <code>Id</code> (immutable; server-set)</dt>
        <dd id="section-3-7.12">The id of the object that this notification is about.<a href="#section-3-7.12" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.13">
<strong>oldRights</strong>: <code>String[Boolean]|null</code> (immutable; server-set)</dt>
        <dd id="section-3-7.14">The "myRights" property of the object for the user before the change.<a href="#section-3-7.14" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.15">
<strong>newRights</strong>: <code>String[Boolean]|null</code> (immutable; server-set)</dt>
        <dd id="section-3-7.16">The "myRights" property of the object for the user after the change.<a href="#section-3-7.16" class="pilcrow">¶</a>
</dd>
        
<dt id="section-3-7.17">
<strong>name</strong>: <code>String</code> (immutable; server-set)</dt>
        <dd id="section-3-7.18">The name of the object at the time the notification was made. Determining the name will depend on the data type in question. For example, it might be the "title" property of a CalendarEvent or the "name" of a Mailbox. The name is to show users who have had their access rights to the object removed what it is that they can no longer access.<a href="#section-3-7.18" class="pilcrow">¶</a>
</dd>
      
</dl>
<div id="sharenotification-get">
<section id="section-3.1">
        <h3 id="name-sharenotification-get"><a href="#section-3.1">3.1.&nbsp;&nbsp;ShareNotification/get</a></h3>
<p id="section-3.1-1">This is a standard "/get" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.1" class="relref">Section 5.1</a></span>.<a href="#section-3.1-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="sharenotification-changes">
<section id="section-3.2">
        <h3 id="name-sharenotification-changes"><a href="#section-3.2">3.2.&nbsp;&nbsp;ShareNotification/changes</a></h3>
<p id="section-3.2-1">This is a standard "/changes" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.2" class="relref">Section 5.2</a></span>.<a href="#section-3.2-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="sharenotification-set">
<section id="section-3.3">
        <h3 id="name-sharenotification-set"><a href="#section-3.3">3.3.&nbsp;&nbsp;ShareNotification/set</a></h3>
<p id="section-3.3-1">This is a standard "/set" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.3" class="relref">Section 5.3</a></span>.<a href="#section-3.3-1" class="pilcrow">¶</a></p>
<p id="section-3.3-2">Only destroy is supported; any attempt to create/update <span class="bcp14">MUST</span> be rejected with a "forbidden" SetError.<a href="#section-3.3-2" class="pilcrow">¶</a></p>
</section>
</div>
<div id="sharenotification-query">
<section id="section-3.4">
        <h3 id="name-sharenotification-query"><a href="#section-3.4">3.4.&nbsp;&nbsp;ShareNotification/query</a></h3>
<p id="section-3.4-1">This is a standard "/query" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.5" class="relref">Section 5.5</a></span>.<a href="#section-3.4-1" class="pilcrow">¶</a></p>
<div id="filtering-1">
<section id="section-3.4.1">
          <h4 id="name-filtering-2"><a href="#section-3.4.1">3.4.1.&nbsp;&nbsp;Filtering</a></h4>
<p id="section-3.4.1-1">A <strong>FilterCondition</strong> object has the following properties, all of which are optional:<a href="#section-3.4.1-1" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-3.4.1-2">
            <dt id="section-3.4.1-2.1">
<strong>after</strong>: <code>UTCDate|null</code>
</dt>
            <dd id="section-3.4.1-2.2">The creation date must be on or after this date to match the condition.<a href="#section-3.4.1-2.2" class="pilcrow">¶</a>
</dd>
            
<dt id="section-3.4.1-2.3">
<strong>before</strong>: <code>UTCDate|null</code>
</dt>
            <dd id="section-3.4.1-2.4">The creation date must be before this date to match the condition.<a href="#section-3.4.1-2.4" class="pilcrow">¶</a>
</dd>
            
<dt id="section-3.4.1-2.5">
<strong>objectType</strong>: <code>String</code>
</dt>
            <dd id="section-3.4.1-2.6">The objectType value must be identical to the given value to match the condition.<a href="#section-3.4.1-2.6" class="pilcrow">¶</a>
</dd>
            
<dt id="section-3.4.1-2.7">
<strong>objectAccountId</strong>: <code>Id</code>
</dt>
            <dd id="section-3.4.1-2.8">The objectAccountId value must be identical to the given value to match the condition.<a href="#section-3.4.1-2.8" class="pilcrow">¶</a>
</dd>
          
</dl>
<p id="section-3.4.1-3">All given conditions in the FilterCondition object must match for the ShareNotification to match.<a href="#section-3.4.1-3" class="pilcrow">¶</a></p>
</section>
</div>
<div id="sorting">
<section id="section-3.4.2">
          <h4 id="name-sorting"><a href="#section-3.4.2">3.4.2.&nbsp;&nbsp;Sorting</a></h4>
<p id="section-3.4.2-1">The "created" property <span class="bcp14">MUST</span> be supported for sorting.<a href="#section-3.4.2-1" class="pilcrow">¶</a></p>
</section>
</div>
</section>
</div>
<div id="sharenotification-querychanges">
<section id="section-3.5">
        <h3 id="name-sharenotification-querychan"><a href="#section-3.5">3.5.&nbsp;&nbsp;ShareNotification/queryChanges</a></h3>
<p id="section-3.5-1">This is a standard "/queryChanges" method as described in <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.6" class="relref">Section 5.6</a></span>.<a href="#section-3.5-1" class="pilcrow">¶</a></p>
</section>
</div>
</section>
</div>
<div id="framework-for-shared-data">
<section id="section-4">
      <h2 id="name-framework-for-shared-data"><a href="#section-4">4.&nbsp;&nbsp;Framework for Shared Data</a></h2>
<p id="section-4-1">Shareable data types <span class="bcp14">MUST</span> define the following three properties:<a href="#section-4-1" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-4-2">
        <dt id="section-4-2.1">
<strong>isSubscribed</strong>: <code>Boolean</code>
</dt>
        <dd id="section-4-2.2">The value <code>true</code> indicates that the user wishes to subscribe to see this data. The value <code>false</code> indicates that the user does not wish to subscribe to see this data. The initial value for this property when data is shared by another user is implementation dependent, although data types may give advice on appropriate defaults.<a href="#section-4-2.2" class="pilcrow">¶</a>
</dd>
        
<dt id="section-4-2.3">
<strong>myRights</strong>: <code>String[Boolean]</code>
</dt>
        <dd id="section-4-2.4">The set of permissions the user currently has. Appropriate permissions are domain specific and must be defined per data type. Each key is the name of a permission defined for that data type. The value for the key is <code>true</code> if the user has the permission or <code>false</code> if they do not.<a href="#section-4-2.4" class="pilcrow">¶</a>
</dd>
        
<dt id="section-4-2.5">
<strong>shareWith</strong>: <code>Id[String[Boolean]]|null</code>
</dt>
        <dd id="section-4-2.6">
          <p id="section-4-2.6.1">The value of this property is <code>null</code> if the data is not shared with anyone. Otherwise, it is a map where each key is the id of a Principal with which this data is shared, and the value associated with that key is the rights to give that Principal, in the same format as the "myRights" property. The Account id for the Principal id can be found in the capabilities of the Account this object is in (see <a href="#urn-ietf-params-jmap-principals-owner" class="auto internal xref">Section 1.5.2</a>).<a href="#section-4-2.6.1" class="pilcrow">¶</a></p>
<p id="section-4-2.6.2">Users with appropriate permission may set this property to modify who the data is shared with. The Principal that owns the Account that this data is in <span class="bcp14">MUST NOT</span> be in the map, since the owner's rights are implicit.<a href="#section-4-2.6.2" class="pilcrow">¶</a></p>
</dd>
      
</dl>
<div id="example">
<section id="section-4.1">
        <h3 id="name-example"><a href="#section-4.1">4.1.&nbsp;&nbsp;Example</a></h3>
<p id="section-4.1-1">Suppose we are designing a data model for a very simple to-do list. There is a Todo data type representing a single item to do, each of which belongs to a single TodoList. The specification makes the TodoLists shareable by referencing this document and defining the common properties.<a href="#section-4.1-1" class="pilcrow">¶</a></p>
<p id="section-4.1-2">First, it would define a set of domain-specific rights. For example, a TodoListRights object may have the following properties:<a href="#section-4.1-2" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-4.1-3">
          <dt id="section-4.1-3.1">
<strong>mayRead</strong>: <code>Boolean</code>
</dt>
          <dd id="section-4.1-3.2">The user may fetch this TodoList and any Todos that belong to this TodoList.<a href="#section-4.1-3.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-3.3">
<strong>mayWrite</strong>: <code>Boolean</code>
</dt>
          <dd id="section-4.1-3.4">The user may create, update, or destroy Todos that belong to this TodoList and may change the "name" property of this TodoList.<a href="#section-4.1-3.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-3.5">
<strong>mayAdmin</strong>: <code>Boolean</code>
</dt>
          <dd id="section-4.1-3.6">The user may see and modify the "myRights" property of this TodoList and may destroy this TodoList.<a href="#section-4.1-3.6" class="pilcrow">¶</a>
</dd>
        
</dl>
<p id="section-4.1-4">Then in the TodoList data type, we would include the three common
   properties described in <a href="#framework-for-shared-data" class="auto internal xref">Section 4</a>, in addition to any type-specific
   properties (like "name" in this case):<a href="#section-4.1-4" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-4.1-5">
          <dt id="section-4.1-5.1">
<strong>id</strong>: <code>Id</code> (immutable; server-set)</dt>
          <dd id="section-4.1-5.2">The id of the object.<a href="#section-4.1-5.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-5.3">
<strong>name</strong>: <code>String</code>
</dt>
          <dd id="section-4.1-5.4">A name for this list of Todos.<a href="#section-4.1-5.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-5.5">
<strong>isSubscribed</strong>: <code>Boolean</code>
</dt>
          <dd id="section-4.1-5.6">True if the user has indicated they wish to see this list. If <code>false</code>, clients should not display this TodoList with the user's other TodoLists but should provide a means for users to see and subscribe to all TodoLists that have been shared with them.<a href="#section-4.1-5.6" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-5.7">
<strong>myRights</strong>: <code>TodoListRights</code>
</dt>
          <dd id="section-4.1-5.8">The set of permissions the user currently has for this TodoList.<a href="#section-4.1-5.8" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-5.9">
<strong>shareWith</strong>: <code>Id[TodoListRights]|null</code>
</dt>
          <dd id="section-4.1-5.10">If not shared with anyone, the value is <code>null</code>. Otherwise, it's a map where the keys are Principal ids and the values are the rights given to those Principals. Users with the "mayAdmin" right may set this property to modify who the data is shared with. The Principal that owns the Account that this data is in <span class="bcp14">MUST NOT</span> be in the map; their rights are implicit.<a href="#section-4.1-5.10" class="pilcrow">¶</a>
</dd>
        
</dl>
<p id="section-4.1-6">We would also define a new Principal capability with two properties:<a href="#section-4.1-6" class="pilcrow">¶</a></p>
<dl class="dlNewline" id="section-4.1-7">
          <dt id="section-4.1-7.1">
<strong>accountId</strong>: <code>Id|null</code>
</dt>
          <dd id="section-4.1-7.2">The accountId containing the Todo data for this Principal, if it has been shared with the requesting user.<a href="#section-4.1-7.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-4.1-7.3">
<strong>mayShareWith</strong>: <code>Boolean</code>
</dt>
          <dd id="section-4.1-7.4">The user may give this Principal permission to access a TodoList.<a href="#section-4.1-7.4" class="pilcrow">¶</a>
</dd>
        
</dl>
<p id="section-4.1-8">A client wishing to let the user configure sharing would look at the "capabilities" for the Account containing the user's Todo data and find the "urn:ietf:params:jmap:principals:owner" property, as per <a href="#urn-ietf-params-jmap-principals-owner" class="auto internal xref">Section 1.5.2</a>. For example, the JMAP Session object might contain:<a href="#section-4.1-8" class="pilcrow">¶</a></p>
<span id="name-part-of-a-jmap-session-obje"></span><figure id="figure-1">
          <div class="lang-json sourcecode" id="section-4.1-9.1">
<pre>{
  "accounts": {
    "u12345678": {
      "name": "jane.doe@example.com",
      "isPersonal": true,
      "isReadOnly": false,
      "accountCapabilities": {
        "urn:com.example:jmap:todo": {},
        "urn:ietf:params:jmap:principals:owner": {
          "accountIdForPrincipal": "u33084183",
          "principalId": "P105aga511jaa"
        }
      }
    },
    ...
  },
  ...
}</pre>
</div>
<figcaption><a href="#figure-1" class="selfRef">Figure 1</a>:
<a href="#name-part-of-a-jmap-session-obje" class="selfRef">Part of a JMAP Session Object</a>
          </figcaption></figure>
<p id="section-4.1-10">From this, the client now knows which Account has the Principal data,
   and it can fetch the list of Principals and offer to share it with
   the user by making an API request like this:<a href="#section-4.1-10" class="pilcrow">¶</a></p>
<span id="name-methodcalls-property-of-a-j"></span><figure id="figure-2">
          <div class="lang-json sourcecode" id="section-4.1-11.1">
<pre>[[ "Principal/get", {
  "accountId": "u33084183",
  "ids": null
}, "0" ]]</pre>
</div>
<figcaption><a href="#figure-2" class="selfRef">Figure 2</a>:
<a href="#name-methodcalls-property-of-a-j" class="selfRef">"methodCalls" Property of a JMAP Request</a>
          </figcaption></figure>
<p id="section-4.1-12">Here's an example response (where "Joe Bloggs" is another user that this user could share their TodoList with; Joe has not shared any of their own data with this user, so the "accounts" property is <code>null</code>):<a href="#section-4.1-12" class="pilcrow">¶</a></p>
<span id="name-methodresponses-property-of"></span><figure id="figure-3">
          <div class="lang-json sourcecode" id="section-4.1-13.1">
<pre>[[ "Principal/get", {
  "accountId": "u33084183",
  "state": "7b8eff5zz",
  "list": [{
    "id": "P2342fnddd20",
    "type": "individual",
    "name": "Joe Bloggs",
    "description": null,
    "email": "joe.bloggs@example.com",
    "timeZone": "Australia/Melbourne",
    "capabilities": {
        "urn:com.example:jmap:todo": {
            "accountId": null,
            "mayShareWith": true
        }
    },
    "accounts": null
  }, {
    "id": "P674pp24095qo49pr",
    "name": "Board room",
    "type": "location",
    ...
  }, ... ],
  "notFound": []
}, "0" ]]</pre>
</div>
<figcaption><a href="#figure-3" class="selfRef">Figure 3</a>:
<a href="#name-methodresponses-property-of" class="selfRef">"methodResponses" Property of a JMAP Response</a>
          </figcaption></figure>
<p id="section-4.1-14">A TodoList can be shared with "Joe Bloggs" by updating its shareWith property, as in this example request:<a href="#section-4.1-14" class="pilcrow">¶</a></p>
<span id="name-methodcalls-property-of-a-jm"></span><figure id="figure-4">
          <div class="lang-json sourcecode" id="section-4.1-15.1">
<pre>[[ "TodoList/set", {
  "accountId": "u12345678",
  "update": {
    "tl01n231": {
        "shareWith": {
            "P2342fnddd20": {
                "mayRead": true,
                "mayWrite": true,
                "mayAdmin": false
            }
        }
    }
  }
}, "0" ]]</pre>
</div>
<figcaption><a href="#figure-4" class="selfRef">Figure 4</a>:
<a href="#name-methodcalls-property-of-a-jm" class="selfRef">"methodCalls" Property of a JMAP Request</a>
          </figcaption></figure>
</section>
</div>
</section>
</div>
<section id="section-5">
      <h2 id="name-internationalization-consid"><a href="#section-5">5.&nbsp;&nbsp;Internationalization Considerations</a></h2>
<p id="section-5-1">Experience has shown that unrestricted use of Unicode can lead to problems such as inconsistent rendering, users reading text and interpreting it differently than intended, and unexpected results when copying text from one location to another. Servers <span class="bcp14">MAY</span> choose to mitigate this by restricting the set of characters allowed in otherwise unconstrained <code>String</code> fields. The FreeformClass, as documented in <span>[<a href="#RFC8264" class="cite xref">RFC8264</a>], <a href="https://rfc-editor.org/rfc/rfc8264#section-4.3" class="relref">Section 4.3</a></span>, might be a good starting point for this.<a href="#section-5-1" class="pilcrow">¶</a></p>
<p id="section-5-2">Attempts to set a value containing code points outside of the permissible set can be handled in a few ways by the server. The first option is to simply strip the forbidden characters and store the resulting string. This is likely to be appropriate for control characters, for example, where they can end up in data accidentally due to copy-and-paste issues and are probably invisible to the end user. JMAP allows the server to transform data on create/update, as long as any changed properties are returned to the client in the "/set" response so it knows what has changed, as per <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>], <a href="https://rfc-editor.org/rfc/rfc8620#section-5.3" class="relref">Section 5.3</a></span>. Alternatively, the server <span class="bcp14">MAY</span> just reject the create/update with an "invalidProperties" SetError.<a href="#section-5-2" class="pilcrow">¶</a></p>
</section>
<div id="security-considerations">
<section id="section-6">
      <h2 id="name-security-considerations"><a href="#section-6">6.&nbsp;&nbsp;Security Considerations</a></h2>
<p id="section-6-1">All security considerations of JMAP <span>[<a href="#RFC8620" class="cite xref">RFC8620</a>]</span> apply to this specification. Additional considerations are detailed below.<a href="#section-6-1" class="pilcrow">¶</a></p>
<div id="spoofing">
<section id="section-6.1">
        <h3 id="name-spoofing"><a href="#section-6.1">6.1.&nbsp;&nbsp;Spoofing</a></h3>
<p id="section-6.1-1">Allowing users to edit their own Principal's name (and, to a lesser extent, email, description, or type) could allow a user to change their Principal to look like another user in the system, potentially tricking others into sharing private data with them. Servers may choose to forbid this and <span class="bcp14">SHOULD</span> keep logs of such changes to provide an audit trail.<a href="#section-6.1-1" class="pilcrow">¶</a></p>
<p id="section-6.1-2">Note that simply forbidding the use of a name already in the system is insufficient protection, as a malicious user could still change their name to something easily confused with the existing name by using trivial misspellings or visually similar Unicode characters.<a href="#section-6.1-2" class="pilcrow">¶</a></p>
</section>
</div>
<div id="unnoticed-sharing">
<section id="section-6.2">
        <h3 id="name-unnoticed-sharing"><a href="#section-6.2">6.2.&nbsp;&nbsp;Unnoticed Sharing</a></h3>
<p id="section-6.2-1">Sharing data with another user allows someone to turn a transitory account compromise (e.g., brief access to an unlocked or logged-in client) into a persistent compromise (by setting up sharing with a user that is controlled by the attacker). This can be mitigated by requiring further authorization for configuring sharing or sending notifications to the sharer via another channel whenever a new permission is added.<a href="#section-6.2-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="dos">
<section id="section-6.3">
        <h3 id="name-denial-of-service"><a href="#section-6.3">6.3.&nbsp;&nbsp;Denial of Service</a></h3>
<p id="section-6.3-1">By creating many changes to the sharing status of objects, a user can cause many ShareNotifications to be generated, which could lead to resource exhaustion. Servers can mitigate this by coalescing multiple changes to the same object into a single notification, limiting the maximum number of notifications it stores per user and/or rate-limiting the changes to sharing permissions in the first place. Automatically deleting older notifications after reaching a limit can mean the user is not made aware of a sharing change, which can itself be a security issue. For this reason, it is better to coalesce changes and use other mitigation strategies.<a href="#section-6.3-1" class="pilcrow">¶</a></p>
</section>
</div>
<div id="unauthorised-principals">
<section id="section-6.4">
        <h3 id="name-unauthorized-principals"><a href="#section-6.4">6.4.&nbsp;&nbsp;Unauthorized Principals</a></h3>
<p id="section-6.4-1">The set of Principals within a shared environment <span class="bcp14">MUST</span> be strictly controlled. If adding a new Principal is open to the public, risks include:<a href="#section-6.4-1" class="pilcrow">¶</a></p>
<ul class="compact">
<li class="compact" id="section-6.4-2.1">An increased risk of a user accidentally sharing data with an unintended person.<a href="#section-6.4-2.1" class="pilcrow">¶</a>
</li>
          <li class="compact" id="section-6.4-2.2">An attacker sharing unwanted or offensive information with the user.<a href="#section-6.4-2.2" class="pilcrow">¶</a>
</li>
          <li class="compact" id="section-6.4-2.3">An attacker sharing items with spam content in the names in order to generate ShareNotification objects, which are likely to be prominently displayed to the user receiving them.<a href="#section-6.4-2.3" class="pilcrow">¶</a>
</li>
        </ul>
</section>
</div>
</section>
</div>
<div id="iana-considerations">
<section id="section-7">
      <h2 id="name-iana-considerations"><a href="#section-7">7.&nbsp;&nbsp;IANA Considerations</a></h2>
<div id="jmap-capability-registration-for-principals">
<section id="section-7.1">
        <h3 id="name-jmap-capability-registratio"><a href="#section-7.1">7.1.&nbsp;&nbsp;JMAP Capability Registration for "principals"</a></h3>
<p id="section-7.1-1">IANA has registered "principals" in the "JMAP Capabilities" registry as follows:<a href="#section-7.1-1" class="pilcrow">¶</a></p>
<dl class="dlCompact dlParallel" id="section-7.1-2">
          <dt id="section-7.1-2.1">Capability Name:</dt>
          <dd id="section-7.1-2.2">
            <code>urn:ietf:params:jmap:principals</code><a href="#section-7.1-2.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.1-2.3">Intended Use:</dt>
          <dd id="section-7.1-2.4">common<a href="#section-7.1-2.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.1-2.5">Change Controller:</dt>
          <dd id="section-7.1-2.6">IETF<a href="#section-7.1-2.6" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.1-2.7">Security and Privacy Considerations:</dt>
          <dd id="section-7.1-2.8">RFC 9670, <a href="#security-considerations" class="auto internal xref">Section 6</a><a href="#section-7.1-2.8" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.1-2.9">Reference:</dt>
          <dd id="section-7.1-2.10">RFC 9670<a href="#section-7.1-2.10" class="pilcrow">¶</a>
</dd>
        
</dl>
</section>
</div>
<div id="jmap-capability-registration-for-principals-owner">
<section id="section-7.2">
        <h3 id="name-jmap-capability-registration"><a href="#section-7.2">7.2.&nbsp;&nbsp;JMAP Capability Registration for "principals:owner"</a></h3>
<p id="section-7.2-1">IANA has registered "principals:owner" in the "JMAP Capabilities" registry as follows:<a href="#section-7.2-1" class="pilcrow">¶</a></p>
<dl class="dlCompact dlParallel" id="section-7.2-2">
          <dt id="section-7.2-2.1">Capability Name:</dt>
          <dd id="section-7.2-2.2">
            <code>urn:ietf:params:jmap:principals:owner</code><a href="#section-7.2-2.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.2-2.3">Intended Use:</dt>
          <dd id="section-7.2-2.4">common<a href="#section-7.2-2.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.2-2.5">Change Controller:</dt>
          <dd id="section-7.2-2.6">IETF<a href="#section-7.2-2.6" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.2-2.7">Security and Privacy Considerations:</dt>
          <dd id="section-7.2-2.8">RFC 9670, <a href="#security-considerations" class="auto internal xref">Section 6</a><a href="#section-7.2-2.8" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.2-2.9">Reference:</dt>
          <dd id="section-7.2-2.10">RFC 9670<a href="#section-7.2-2.10" class="pilcrow">¶</a>
</dd>
        
</dl>
</section>
</div>
<div id="jmap-data-type-registration-for-principal">
<section id="section-7.3">
        <h3 id="name-jmap-data-type-registration"><a href="#section-7.3">7.3.&nbsp;&nbsp;JMAP Data Type Registration for "Principal"</a></h3>
<p id="section-7.3-1">IANA has registered "Principal" in the "JMAP Data Types" registry as follows:<a href="#section-7.3-1" class="pilcrow">¶</a></p>
<dl class="dlCompact dlParallel" id="section-7.3-2">
          <dt id="section-7.3-2.1">Type Name:</dt>
          <dd id="section-7.3-2.2">Principal<a href="#section-7.3-2.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.3-2.3">Can Reference Blobs:</dt>
          <dd id="section-7.3-2.4">No<a href="#section-7.3-2.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.3-2.5">Can Use for State Change:</dt>
          <dd id="section-7.3-2.6">Yes<a href="#section-7.3-2.6" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.3-2.7">Capability:</dt>
          <dd id="section-7.3-2.8">
            <code>urn:ietf:params:jmap:principals</code><a href="#section-7.3-2.8" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.3-2.9">Reference:</dt>
          <dd id="section-7.3-2.10">RFC 9670<a href="#section-7.3-2.10" class="pilcrow">¶</a>
</dd>
        
</dl>
</section>
</div>
<div id="jmap-data-type-registration-for-sharenotification">
<section id="section-7.4">
        <h3 id="name-jmap-data-type-registration-"><a href="#section-7.4">7.4.&nbsp;&nbsp;JMAP Data Type Registration for "ShareNotification"</a></h3>
<p id="section-7.4-1">IANA has registered "ShareNotification" in the "JMAP Data Types" registry as follows:<a href="#section-7.4-1" class="pilcrow">¶</a></p>
<dl class="dlCompact dlParallel" id="section-7.4-2">
          <dt id="section-7.4-2.1">Type Name:</dt>
          <dd id="section-7.4-2.2">ShareNotification<a href="#section-7.4-2.2" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.4-2.3">Can Reference Blobs:</dt>
          <dd id="section-7.4-2.4">No<a href="#section-7.4-2.4" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.4-2.5">Can Use for State Change:</dt>
          <dd id="section-7.4-2.6">Yes<a href="#section-7.4-2.6" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.4-2.7">Capability:</dt>
          <dd id="section-7.4-2.8">
            <code>urn:ietf:params:jmap:principals</code><a href="#section-7.4-2.8" class="pilcrow">¶</a>
</dd>
          
<dt id="section-7.4-2.9">Reference:</dt>
          <dd id="section-7.4-2.10">RFC 9670<a href="#section-7.4-2.10" class="pilcrow">¶</a>
</dd>
        
</dl>
</section>
</div>
</section>
</div>
<section id="section-8">
      <h2 id="name-references"><a href="#section-8">8.&nbsp;&nbsp;References</a></h2>
<section id="section-8.1">
        <h3 id="name-normative-references"><a href="#section-8.1">8.1.&nbsp;&nbsp;Normative References</a></h3>
<dl class="references">
<dt id="RFC2119">[RFC2119]</dt>
        <dd>
<span class="refAuthor">Bradner, S.</span>, <span class="refTitle">"Key words for use in RFCs to Indicate Requirement Levels"</span>, <span class="seriesInfo">BCP 14</span>, <span class="seriesInfo">RFC 2119</span>, <span class="seriesInfo">DOI 10.17487/RFC2119</span>, <time datetime="1997-03" class="refDate">March 1997</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc2119">https://www.rfc-editor.org/info/rfc2119</a>&gt;</span>. </dd>

<dt id="RFC5322">[RFC5322]</dt>
        <dd>
<span class="refAuthor">Resnick, P., Ed.</span>, <span class="refTitle">"Internet Message Format"</span>, <span class="seriesInfo">RFC 5322</span>, <span class="seriesInfo">DOI 10.17487/RFC5322</span>, <time datetime="2008-10" class="refDate">October 2008</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc5322">https://www.rfc-editor.org/info/rfc5322</a>&gt;</span>. </dd>

<dt id="RFC8174">[RFC8174]</dt>
        <dd>
<span class="refAuthor">Leiba, B.</span>, <span class="refTitle">"Ambiguity of Uppercase vs Lowercase in RFC 2119 Key Words"</span>, <span class="seriesInfo">BCP 14</span>, <span class="seriesInfo">RFC 8174</span>, <span class="seriesInfo">DOI 10.17487/RFC8174</span>, <time datetime="2017-05" class="refDate">May 2017</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc8174">https://www.rfc-editor.org/info/rfc8174</a>&gt;</span>. </dd>

<dt id="RFC8620">[RFC8620]</dt>
      <dd>
<span class="refAuthor">Jenkins, N.</span> and <span class="refAuthor">C. Newman</span>, <span class="refTitle">"The JSON Meta Application Protocol (JMAP)"</span>, <span class="seriesInfo">RFC 8620</span>, <span class="seriesInfo">DOI 10.17487/RFC8620</span>, <time datetime="2019-07" class="refDate">July 2019</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc8620">https://www.rfc-editor.org/info/rfc8620</a>&gt;</span>. </dd>

</dl>
</section>
<section id="section-8.2">
        <h3 id="name-informative-references"><a href="#section-8.2">8.2.&nbsp;&nbsp;Informative References</a></h3>
<dl class="references">
<dt id="IANA-JMAP">[IANA-JMAP]</dt>
        <dd>
<span class="refAuthor">IANA</span>, <span class="refTitle">"JMAP Data Types"</span>, <span>&lt;<a href="https://www.iana.org/assignments/jmap">https://www.iana.org/assignments/jmap</a>&gt;</span>. </dd>

<dt id="IANA-TZDB">[IANA-TZDB]</dt>
        <dd>
<span class="refAuthor">IANA</span>, <span class="refTitle">"Time Zone Database"</span>, <span>&lt;<a href="https://www.iana.org/time-zones">https://www.iana.org/time-zones</a>&gt;</span>. </dd>

<dt id="RFC8264">[RFC8264]</dt>
      <dd>
<span class="refAuthor">Saint-Andre, P.</span> and <span class="refAuthor">M. Blanchet</span>, <span class="refTitle">"PRECIS Framework: Preparation, Enforcement, and Comparison of Internationalized Strings in Application Protocols"</span>, <span class="seriesInfo">RFC 8264</span>, <span class="seriesInfo">DOI 10.17487/RFC8264</span>, <time datetime="2017-10" class="refDate">October 2017</time>, <span>&lt;<a href="https://www.rfc-editor.org/info/rfc8264">https://www.rfc-editor.org/info/rfc8264</a>&gt;</span>. </dd>

</dl>
</section>
</section>




<div id="status-of-memo">
<section id="section-boilerplate.1">
        <h2 id="name-status-of-this-memo"><a href="#name-status-of-this-memo">Status of This Memo</a></h2>
<p id="section-boilerplate.1-1">
            This is an Internet Standards Track document.<a href="#section-boilerplate.1-1" class="pilcrow">¶</a></p>
<p id="section-boilerplate.1-2">
            This document is a product of the Internet Engineering Task Force
            (IETF).  It represents the consensus of the IETF community.  It has
            received public review and has been approved for publication by
            the Internet Engineering Steering Group (IESG).  Further
            information on Internet Standards is available in Section 2 of 
            RFC 7841.<a href="#section-boilerplate.1-2" class="pilcrow">¶</a></p>
<p id="section-boilerplate.1-3">
            Information about the current status of this document, any
            errata, and how to provide feedback on it may be obtained at
            <span><a href="https://www.rfc-editor.org/info/rfc9670">https://www.rfc-editor.org/info/rfc9670</a></span>.<a href="#section-boilerplate.1-3" class="pilcrow">¶</a></p>
</section>
</div><div id="copyright">
<section id="section-boilerplate.2">
        <h2 id="name-copyright-notice"><a href="#name-copyright-notice">Copyright Notice</a></h2>
<p id="section-boilerplate.2-1">
            Copyright (c) 2024 IETF Trust and the persons identified as the
            document authors. All rights reserved.<a href="#section-boilerplate.2-1" class="pilcrow">¶</a></p>
<p id="section-boilerplate.2-2">
            This document is subject to BCP 78 and the IETF Trust's Legal
            Provisions Relating to IETF Documents
            (<span><a href="https://trustee.ietf.org/license-info">https://trustee.ietf.org/license-info</a></span>) in effect on the date of
            publication of this document. Please review these documents
            carefully, as they describe your rights and restrictions with
            respect to this document. Code Components extracted from this
            document must include Revised BSD License text as described in
            Section 4.e of the Trust Legal Provisions and are provided without
            warranty as described in the Revised BSD License.<a href="#section-boilerplate.2-2" class="pilcrow">¶</a></p>
</section>
</div>
