<section class='hero {{ include.class | default: 'hero--page' }}'>
    <div class='u-wrapper'>
        <p class='hero__eyebrow'>{{ include.eyebrow }}</p>
        <h1 class='hero__h1 u-text-3xl u-kerning-tight'>{{ include.title }}</h1>
        <p class='hero__sub'>{{ include.sub }}</p>
    </div>
</section>
