.button {
    transition: all 0.2s var(--ease-out);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    padding: 9px 20px;
    border-radius: var(--radius-l);
    cursor: pointer;
}
.button--cta {
    background: var(--theme-button-cta-bg);
    border-color: var(--theme-button-cta-border);
    color: var(--theme-button-cta-fg);
}
.button--cta:hover {
    background: var(--theme-button-cta-bg-hover);
    border-color: var(--theme-button-cta-border-hover);
}
.button--standard {
    backdrop-filter: var(--theme-glass-blur);
    background: var(--theme-button-standard-bg);
    border-color: var(--theme-button-standard-border);
    color: var(--theme-button-standard-fg);
}
.button--standard:hover {
    border-color: var(--theme-button-standard-border-hover);
    color: var(--theme-button-standard-fg-hover);
}

.button--outline {
    background: var(--theme-button-outline-bg);
    border-color: var(--theme-button-outline-border);
    color: var(--theme-button-outline-fg);
}
.button--outline:hover {
    border-color: var(--theme-button-outline-border-hover);
    color: var(--theme-button-outline-fg-hover);
}
.button--sm {
    padding: 5px 12px;
}

.button__icon {
    flex-basis: 24px;
    width: 24px;
    height: 24px;
}

.button__icon .i-external-link {
    transform: translate3d(0, -1px, 0);
}
.button .i-arrow-right {
    transition: transform 0.3s var(--ease-out);
}
.button:hover .i-arrow-right {
    transform: translate3d(2px, 0, 0);
}
