html {
    background: var(--theme-bg);
    scroll-behavior: smooth;
}

:target {
    scroll-margin-block: calc(var(--nav-h) + 24px);
}

@media screen and (width > 768px) {
    :target {
        scroll-margin-block: calc(var(--nav-h) + 24px);
    }
}

body {
    line-height: var(--leading);
    background: var(--theme-bg-overlay);
    color: var(--theme-body);
    font-family: var(--font-base);
    font-optical-sizing: auto;
    font-size: var(--text-size-base);
    font-variation-settings: 'wdth' 100;
    font-weight: var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

[data-theme='dark'] .i-theme-light {
    display: none;
}
[data-theme='light'] .i-theme-dark {
    display: none;
}

.u-wrapper {
    box-sizing: content-box;
    max-width: var(--grid-max-width);
    margin-inline: auto;
    padding-inline: var(--grid-gutter);
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}

.u-flex-spacer {
    flex: 1 1 auto;
}

.u-sq-12 {
    flex-basis: 12px;
    width: 12px;
    height: 12px;
}

.section {
    padding-block: var(--space-3xl);
}

/* --- Logo */
.jmap-logo {
    display: flex;
    align-items: center;
}
.jmap-logo__icon {
    fill: var(--theme-accent);
}
.jmap-logo__text {
    fill: var(--theme-logo-text);
}
