---
layout: default
stylesheets:
    - article
    - toc
---
{% if page.hero %}
    {%
        include components/hero.liquid
        eyebrow=page.hero.eyebrow
        title=page.hero.title
        sub=page.hero.sub
        links=page.hero.links
    %}
{% endif %}

<section class='section'>
    <article class='u-wrapper u-article'>
        {{ content }}
    </article>
</section>
