<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
<link href="main.css" rel="stylesheet" type="text/css">
{% if page.custom %}
<link href="custom.css" rel="stylesheet" type="text/css">
{% endif %}
{% if page.style %}
<link href="{{ page.style }}.css" rel="stylesheet" type="text/css">
{% endif %}
<title>{{ page.title }}</title>
</head>
<body>
<a href="https://www.fastmail.com/digitalcitizen/why-open-internet-standards-are-so-important-to-your-future-with-bron-gondwana/" style="display: block;padding: 10px;background: #834270;color: #fff;font-weight: 600;text-align: center;">Listen to Fastmail CEO Bron Gondwana talk about JMAP on the Digital Citizen Podcast</a>
<header>
<input type="checkbox" id="show-nav">
<a class="logo" href="index.html"><span class="name">JMAP</span><span class=slogan>The modern mail standard</span></a>
<label for=show-nav></label>
<nav class=collapsible>
    <a class="item" href="spec.html">See the specs</a>
    <a class="item" href="client.html">Client developer guide</a>
    <a class="item" href="server.html">Implementation guide</a>
    <a class="item" href="news.html">News</a>
    <a class="item boxed" href="software.html">Try it</a>
</nav>
</header>
{% if page.banner %}
{{ page.banner }}
{% endif %}
<article>
{{ content | safe }}
</article>
{% unless page.custom %}
<aside>
<div class="toc-selected"></div>
<ol class="toc"></ol>
</aside>
{% endunless %}
<footer>
    <a href="software.html">Try it</a>
    <a href="news.html">News</a>
    <a href="press.html">For the Press</a>
    <a href="https://github.com/jmapio/jmap">JMAP on Github</a>
    <a href="https://twitter.com/search?q=%23jmap&src=typed_query">JMAP on Twitter</a>
</footer>
{% unless page.custom %}
<script type="text/javascript" src="toc.js"></script>
{% endunless %}
{% if page.path == "index.md" %}
<script type="text/javascript" src="details.js"></script>
<script type="text/javascript" src="video-popup.js"></script>
{% endif %}
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5cafd4ae0400412b85e675f8296f7a36"}'></script>
</body>
</html>
