---
layout: default
stylesheets:
    - article
    - toc
    - why-jmap
scripts:
    - toc
---
{%
    include components/hero.liquid
    eyebrow=page.hero.eyebrow
    eyebrow_icon=page.hero.eyebrow_icon
    title=page.hero.title
    sub=page.hero.sub
%}

{% capture pageContent %}
<article class='u-article'>{{ content }}</article>
<div class='faq'>
    <h2 class='faq__h2' id="faq">Frequently asked questions</h2>
    {% for item in page.faq %}
    <details class='faq__details'>
        <summary class='faq__summary'>
            {{ item.question }}
            <span class='faq__expand'>
                {% include icons/plus.liquid %}
            </span>
        </summary>
        <div class='faq__answer'>
            {{ item.answer | markdownify }}
        </div>
    </details>
    {% endfor %}
</div>
{% endcapture %}

{% include components/toc-fab.liquid %}

<section class='section section--document'>
    <div class='u-wrapper u-article-split'>
        <nav class='u-toc-wrapper' aria-label='Table of contents'>
            {% include toc.liquid html=pageContent class='u-toc' h_min=2 h_max=2 %}
        </nav>
        <div>{{ pageContent }}</div>
    </div>
</section>
